[2015-07-24 21:00] yesmeck opened #3 "Crash when run project"
I create a new project follow the readme, but after added react-native-udp, the project crashes every time I run it. I'm using Xcode 6.4 and react-native 0.7.1

[2015-07-24 21:03] mvayngrib commented on #3
could you publish your project to github and I'll check it out?

[2015-07-24 21:08] yesmeck commented on #3
https://github.com/yesmeck/AwesomeProject

[2015-07-24 21:17] mvayngrib commented on #3
cool, thx, seems it's todo with https://github.com/tradle/react-native-udp/pull/2 , will pull that now

[2015-07-24 21:21] mvayngrib commented on #3
merged #2 and republished as 0.0.11, your project no longer crashes for me

[2015-07-25 07:27] yesmeck commented on #3
Thanks.

[2015-07-25 07:36] #3 closed

[2015-07-29 17:48] mvayngrib opened #6 "setup testing"
the way react-native does it: https://github.com/facebook/react-native/blob/master/scripts/objc-test.sh

[2015-08-05 11:54] PatrickSCLin opened #7 "Can you make a lib of tcp ?"
HI, is possible to make a the other lib of tcp ? like GCDAsyncSocket?

[2015-08-05 12:40] mvayngrib commented on #7
definitely possible and shouldn't be too hard. I'll probably take a stab at it in the near future.

[2015-08-05 13:26] PatrickSCLin commented on #7
thanks bro, I'm just new to React Native,
it's awesome, but I can't use TCP socket from JS,
I found a component, WebSocket which in React Native,
but it looks like only allow to using for http and ws.

[2015-08-05 13:34] mvayngrib commented on #7
depending on your use case, you might be able to use react-native-udp with [utp](https://github.com/mafintosh/utp), or [rudp](https://github.com/shovon/node-rudp). But that's only if your code is running on both sides of the "tcp" connection, like if you're building a peer to peer app.

[2015-08-05 13:48] PatrickSCLin commented on #7
Can I use utp in *.ios.js ?

[2015-08-05 14:10] mvayngrib commented on #7
sure, .ios.js is just a naming convention, it's really just .js

[2015-08-05 15:07] PatrickSCLin commented on #7
.io.js is running on iOS side right ?

I thought utp only work on Node.JS ?

[2015-08-05 15:16] PatrickSCLin commented on #7
my goal is building an app which able to access data via telnet (port 23 or ssh) protocol

would like to using tcp socket in .ios.js for some reasons

[2015-08-05 15:51] mvayngrib commented on #7
React Native uses JavaScriptCore, so the JS environment is pretty similar to being in a browser. Modules like this one attempt to make it more like a node.js environment. tcp is on the todo list :)

[2015-08-07 09:14] PatrickSCLin commented on #7
I just tried to make a lib "RCTTCPSocket" , it's able to connect now,
https://github.com/PatrickSCLin/RCTTCPSocket
will try to implement return the received data as byte-array later, thanks for your help :)

[2015-08-07 13:32] mvayngrib commented on #7
cool! I will be keeping an eye on it :)

On Fri, Aug 7, 2015 at 5:14 AM, PatrickSCLIn <notifications@github.com>
wrote:

[2015-08-17 20:52] #7 closed

[2015-09-29 23:34] indraastra opened #9 "Xcodeproj header search path needs to be updated"
Due to the .xcodeproj file being nested one directory deeper, its search path in Build Settings needs to be changed to:

"$(SRCROOT)/../../node_modules/react-native/React"

[2015-10-02 19:07] indraastra commented on #9
Looks like this got fixed, closing.

[2015-10-02 19:07] #9 closed

[2015-10-02 19:09] mvayngrib commented on #9
@indraastra sorry, haven't had the bandwidth to check this. Glad it works

[2015-12-21 20:35] ajwhite opened #12 "Allow for hostnames"
Currently IP addresses are required for `socket.send`.

It'd be great if we could provide a hostname as well. Currently I've added a native function to derive the IP from a hostname in order to satisfy the IP requirement for `react-native-udp`

[2015-12-21 20:41] mvayngrib commented on #12
@ajwhite happy to accept PRs!

[2015-12-21 20:42] ajwhite commented on #12
You betcha, that's why I threw it up here :) I don't have time at the moment, but hopefully someone in the community could pick this up, otherwise sometime in the future I can take a look.

Cheers :smile:

[2015-12-21 20:47] mvayngrib commented on #12
@ajwhite sound good. Actually it looks like at least for iOS, all we need to do is replace isValidIP in UdpSocket.js with isValidIpOrHost (and respective regex), as on the ios side, GCDAsyncUdpSocket accepts hostnames as well as ips.

[2015-12-21 20:47] aprock commented on #12
it's the same with the android side. @mvayngrib

[2015-12-21 20:48] mvayngrib commented on #12
@aprock glad to hear that :)

[2015-12-21 20:51] ajwhite commented on #12
Oh sweet -- just so I am understanding correctly, the sockets can already accept hostnames as well as IPs -- we just need to update [the validation](https://github.com/tradle/react-native-udp/blob/master/UdpSocket.js#L272-L276) to accept hostnames?

If so, I may just throw a PR up now

[2015-12-21 21:08] aprock commented on #12
yes

[2015-12-21 22:56] #12 closed

[2015-12-21 23:28] ajwhite opened #14 "Exception when unable to resolve hostname"
I hit this when doing some physical device testing (actual hostname omtited, but it's a valid hostname)

[code]

[2015-12-21 23:38] aprock commented on #14
odd, the InetSocketAddress should be resolving.

[2015-12-21 23:39] ajwhite commented on #14
This may happen during connectivity issues, this has worked 90% of the time for me.

[2015-12-21 23:41] ajwhite opened #15 "Cleaning up sockets when bridge reloads"
For those of us using integrations like [Code Push](https://github.com/Microsoft/react-native-code-push), or when some of us reload the bridge during uncaught exceptions to avoid full crashes.

When a bridge reloads, the [`instances`](https://github.com/tradle/react-native-udp/blob/master/UdpSocket.js#L27) value is going to reset back to `0`, and a new socket will be created with an `_id` of `0`,

[2015-12-21 23:50] ajwhite commented on #15
For a temporary fix on my fork, I think i'm going to do a "get or create" -- if the socket for an ID already exists, it'll use that, otherwise it'll create it.

I'm only dealing with 1 socket right now, so it's pretty deterministic. I won't provide this as a solution for this project, but as a stop gap, I think i'm going to do that to avoid the exception.

[2015-12-21 23:57] mvayngrib commented on #15
@ajwhite on the iOS side, we have:

[code]

does this address the problem you're experiencing? @aprock do we have something like this for android?

[2015-12-22 00:01] aprock commented on #14
@ajwhite does your javascript call to send have a callback? Is it firing with an error?

[2015-12-22 00:03] ajwhite commented on #15
On android you guys [do close all client sockets](https://github.com/tradle/react-native-udp/blob/master/android/src/main/java/com/tradle/react/UdpSockets.java#L57-L81) as well.

Hrmm. So it sounds like there is proper cleanup

[2015-12-22 00:05] ajwhite commented on #15
![screen shot 2015-12-21 at 7 05 01 pm](https://cloud.githubusercontent.com/assets/656630/11944658/c2865ddc-a815-11e5-82e1-2d6bf56d9f27.png)

[2015-12-22 00:11] ajwhite commented on #14
It doesn't have a CB, no

[2015-12-22 01:13] ajwhite commented on #15
As a note -- this appears to only happen during `bind` -- if I remove the `bind` call, and only use `send`, we're all good.

[2015-12-22 01:21] #14 closed

[2015-12-22 17:46] #15 closed

[2015-12-30 18:58] ajwhite opened #17 "Crash with NSInvalidArgumentException"
Hit this in our application today -- crashed cold.
[code]
[code]

[2015-12-31 06:55] #17 closed

[2015-12-31 15:06] ajwhite commented on #17
Thanks!

[2016-06-10 09:13] coconup opened #19 "Android: undefined is not an object (evaluating 'Sockets.createSocket')"
I'm fairly new to this so it can be I'm doing something wrong. I set up a new react native project and installed react-native-udp (tried both by following the readme and through rn-nodeify).

I then pasted this sample code within my render function to see if things would work:

`var dgram = require('react-native-udp')`
`var socket = dgram.createSocket('udp4')`
`socket.bind(12345)`

When starting u

[2016-06-10 12:18] mvayngrib commented on #19
Did you link the library? Run this from the command line: rnpm link

On Friday, June 10, 2016, coconup <notifications@github.com> wrote:

--
Mark Vayngrib
CTO & Co-founder
http://tradle.io
UK: +44 (0)7490 453346
US: +1 (201) 925-6626

[2016-06-10 14:51] coconup commented on #19
That worked of course, thanks a lot for the support! Maybe it would be good to add this step to the readme in case other noobs like me get stuck at the same point :)

[2016-06-10 14:51] #19 closed

[2016-08-04 11:46] joefocusrite opened #21 "Close with error not handled"
I'm getting an issue where after returning from sleep a UDP socket not longer sends data. I have traced it down in the debugger and it seems that the `- (void)udpSocketDidClose:(GCDAsyncUdpSocket *)sock withError:(NSError *)error
` callback is not being handled. This means that my socket has silently closed and the app doesn't work as expected.

react-native-udp@1.2.4

[2016-08-04 14:56] joefocusrite commented on #21
Okay I have a fix PR pending...

[2016-08-04 15:42] joefocusrite commented on #21
Had a go in PR #22.

[2016-09-12 13:18] jsdario opened #23 "UdpSockets.createSocket called twice with the same id."
Hi,

I am opening several ports to handle different discovery protocols in my LAN. Even though they are using different `ip:port` combinations I got this error. How can I solve it or workaround it?

Thanks

[2016-09-16 11:00] skv-headless opened #26 "doesn't compiled in Xcode 8"
First error in websocket build. here fix https://github.com/facebook/react-native/issues/8584#issuecomment-236366222
Second
[code]
Dont know how to fix yet

[2016-09-16 11:00] joefocusrite commented on #26
It think this is fixed in #25...

[2016-09-16 11:07] skv-headless commented on #26
Yep. You are write.

[2016-09-18 16:47] mvayngrib commented on #26
merged #25 and released in 1.2.6

[2016-09-18 16:47] #26 closed

[2016-09-19 06:56] skv-headless commented on #26
Thanks 👍

[2016-11-10 18:13] jmc420 opened #29 "Multicast"
Hi

I have added the code that implements addMembership and dropMembership in this fork:

https://github.com/jmc420/react-native-udp

Do you want me to create a pull request into this repository? I am not an Objective C developer so you might want to compare the fork.

I have tested the changes and they appear to work.

James

[2016-11-10 19:08] mvayngrib commented on #29
@jmc420 thanks for the PR. May I ask how you tested it?
@aprock these methods adhere to the dgram spec, where they are synchronous. So they don't have callbacks to report to the JS side on whether the invocation was successful or not. Do you have any suggestions on how to handle errors? Maybe provide an optional callback param or emit an event for that socket?

[2016-11-10 23:22] aprock commented on #29
An optional callback seems the right approach.  It has the least impact on existing integration.

[2016-11-10 23:35] mvayngrib commented on #29
@jmc420 up for adding some callbacks?

[2016-11-11 14:10] jmc420 commented on #29
The NodeJS API does not support error handling. There is no return value or callback and it does not say that it raises an "on" event if there is a failure in the underlying joinGroup call:

https://nodejs.org/api/dgram.html#dgram_socket_addmembership_multicastaddress_multicastinterface

I experimented with how NodeJS handles errors in the addMembership call.

Calling addMembership without binding

[2016-11-11 19:20] aprock commented on #29
for ios logging use RCTLog.

Yes, unfortunately node.js' synchronous api's have this issue.  We should continue logging it, and extend the api with a callback on both platforms.

@jmc420 I can add it to the android implementation, if you want to take the ios one.

[2016-11-12 13:43] jmc420 commented on #29
I am not sure about this because changing the signature of the NodeJS
addMembership function will cause the typescript compiler to generate an
error. Just logging the error and generating an exception when FB makes
this possible sounds better.

On Fri, 11 Nov 2016 at 19:20, Andy Prock <notifications@github.com> wrote:

[2016-11-12 18:21] aprock commented on #29
@jmc420 agreed (see my earlier edit).  this fix needs to be in for both addMembership and dropMembership.

[2016-12-07 16:42] JasonMore commented on #29
@aprock @jmc420 I have a use case for this, looking forward to seeing the merged PR. If there is someway I can help, I'd be happy to try. I've not done any objective-c before :-D

[2016-12-08 09:47] jmc420 commented on #29
Hi Jason

Perhaps try out the existing patch to see if it works for you? I am not an Objective C programmer so it is just a bodge.

After you have tried it, perhaps it can be merged as is until someone who is an Objective C programmer wants to do something with it.

[2016-12-14 21:24] JasonMore commented on #29
@jmc420 your fork is working for me, many thanks. Not sure about the error discussion above though.

[2016-12-14 22:28] aprock commented on #29
merged, since this adds parity with the android implementation. the exceptions will be added later.
available in 1.2.9

[2016-12-14 22:28] #29 closed

[2017-01-06 05:35] roycclu opened #31 "cannot send to 255.255.255.255"
dgram works fine with all known addresses in my network, except 255.255.255.255
When set to 255.255.255.255 the socket command for send is not called

dgram.createSocket("udp4").send(.., 255.255.255.255, .)

Am I missing something here? Is react-native-udp not designed to work with broadcast?

[2017-01-17 15:34] h124551753 commented on #31
I also have this problem for ios

[2017-01-17 15:48] h124551753 commented on #31
if solved this problem with set 'socket.setBroadcast(true) ' in callback function of socket.bind.

this.socket.bind(UDP_LISTEN_PORT, (err)=>{
      if (err) throw err;
      this.socket.setBroadcast(true);
    });

[2017-01-17 16:58] #31 closed

[2017-01-18 01:35] roycclu commented on #31
thanks man!! really helpful.

[2017-02-01 06:02] ORESoftware opened #32 "Support - recommended way to read in udp"
I am pretty new to react-native and also developing for mobile; I need to listen for UDP messages by connecting to the local internet (nearest wifi router)

I assume my device (Android) will have wifi connectivity
If I listen for udp on a port, I should get data, right?

I am developing for Android - just curious why there is so much less Java than Objective-C for this project?

Objectively speaki

[2017-02-01 06:08] ORESoftware commented on #32
also, when I ran the commands as listed in the readme.md

https://github.com/tradle/react-native-udp/blob/master/examples/rctsockets/android/app/src/main/java/com/rctsockets/MainApplication.java#L11

these lines were already added to my .java files, that was magic, why did that happen? :) I mean I guess that's good, never seen people modify java source like that!

[2017-02-01 07:27] ORESoftware commented on #32
Ok more practical question:

I have this code in a test script:

[code]

and then in my Android React-Native code, I have:

[code]

as you can see, both UDP socket servers are bound to the same port, and I don't see any errors - but I am not getting any messages in my Android log files.

Any idea why the following setup would mean that my React Native code would not receive UDP messages?

The good

[2017-02-01 07:33] ORESoftware commented on #32
Btw I tried having each UDP server listen on a different port, and that didn't make a difference. My React-Native UDP server still does not receive any messages from the test script server.

[2017-02-02 23:36] ORESoftware opened #34 "question - IP address discrepancy"
This module works when my machine (laptop) is on this IP address

`10.0.0.24`

but sometimes my machine switches to this IP address:

`10.235.101.163`

and then this module stops working

any idea why that might be?

[2017-02-03 16:29] mvayngrib commented on #32
@ORESoftware thanks for raising this. I tried your setup and reproduced your results. I think it's cause the emulator has its own ip address, or rather the VM that runs it. There's some port forwarding going on as you can see. I got them connected in three steps:

1. in index.android.js, set the local IP of your machine, in my case 192.168.1.7:
[code]
2. run the test script and emulator. In the te

[2017-02-03 16:38] mvayngrib commented on #32
@ORESoftware
Q: I am developing for Android - just curious why there is so much less Java than Objective-C for this project?
A: the amount of code authored in this module is about the same for Obj-C and Java, but the Obj-C end imports the GCDAsyncUdpSocket library from [CocoaAsyncSocket](https://github.com/robbiehanson/CocoaAsyncSocket)

Q: Objectively speaking, is this the best module to use for

[2017-02-07 07:35] lcwangchao opened #35 "Duplicate interface definition for class 'RCTBridge' with react > 4.0"
see react native 4.0 break changes: https://github.com/facebook/react-native/releases/tag/v0.40.0

[2017-02-10 15:30] tohjg commented on #35
i have create a pull request #36. please review.

[2017-02-10 15:33] mvayngrib commented on #35
@tohjg thanks for the PR! I won't have time to review until > Feb 12th. Happy to review then if someone else doesn't do it before me! This will need to be a semver major release

[2017-02-10 15:57] tohjg commented on #35
@mvayngrib you are welcome, bro. looking forward for this PR released to npm registry soon.

[2017-02-10 17:22] pauliusuza commented on #35
LGTM. Reviewed and tested on react native 40+

[2017-02-14 20:18] cchance27 opened #37 "undefined is not an object (evaluating 'Sockets.createSocket')"
I think i have react-native-udp installed properly, but whenever i try to instantiate snmp-native which uses dgram, i'm getting an error "Cannot read property 'createSocket' of undefined"

The thing is this same exact code works in node, so its definitely something related react-native, but i'm to new or too stupid to figure out what the hell is the cause of it.

Anyone get snmp-native working wit

[2017-02-14 20:23] cchance27 commented on #37
I've been struggling with it and the error i'm getting now is undefined is not an object evaluating sockets.create

[2017-02-14 20:23] #37 closed

[2017-02-14 20:54] cchance27 commented on #35
is this why i can't get udpsocket to work on my new project/latest react-native? lol

[2017-02-15 14:52] cchance27 opened #38 "incompatability with snmp-native?"
not sure whats going on when i use react-native-udp to get snmp-native working, i'm getting an odd error "JSON value '{ exclusive = 1; port = 0}' of type NSDictionary cannot be converted to NSNumber

`function Session(options) {
    var self = this;
    self.options = options || {};
    defaults(self.options, exports.defaultOptions);
    self.reqs = {};
    self.socket = dgram.createSocket(self.op

[2017-02-15 14:55] mvayngrib commented on #38
@cchance27 if you take a look at the bind method, https://github.com/tradle/react-native-udp/blob/master/UdpSocket.js#L74 , it doesn't support passing in an options object. I understand the native dgram api does, so if you want to submit a PR, please do :)

[2017-02-15 14:56] mvayngrib commented on #35
hey guys, @tohjg 's PR has been merged and released as 2.0.0

[2017-02-15 14:56] #35 closed

[2017-02-15 15:04] tohjg commented on #35
NPM registry updated! Thanks

[2017-02-15 16:37] cchance27 commented on #38
Well crap ya i see that now, but holy hell is doing that PR over my head skill wise :(

[2017-02-17 14:45] cchance27 opened #39 "Difference between standard run and remote-debug run?"
I'm going nuts here was working on getting some snmp working and it was working fine, then i disabled the IOS remote-debugger and its crashing out, i'm using net-snmp for snmp via udp, i swapped to net-snmp, because oddly enough the npm module i switched from (snmp-native) after going back to it i had a similar issue, with things working (after some hacking of the module) with remote-debugger enab

[2017-02-17 15:23] mvayngrib commented on #39
hm, my first thought is that somewhere someone did buffer.toString() when the buffer contents weren't a utf8 string. For background, the react native bridge (javascript<=>native) doesn't support sending binary data, so this module converts all UDP packets to base64 and back when traveling from and to iOS/Android. Does that help?

[2017-02-17 16:14] cchance27 commented on #39
Well i'd imagine it has to do with the ASN1 conversion that reads the Udp
hex and converts it to Text, what i dont get from your explanation is why
it would differ based on if remote-debug is enabled or not (monitoring via
chrome debug or not) ...

also if the react-native-udp bridge is handling binary ->.base64 -> binary,
wouldn't this mean the error is in the bridge, because to apps using the
RN

[2017-02-17 16:37] cchance27 commented on #39
So it's definitely something wrong in the ios version of the bridge, as on
android it works with same exact code and modules, i tried to look at it
but i honestly don't know anywhere near enough about the bridge or native
code to debug it :( any chance you could take a look as theirs something
going on different between ios and android, and on ios its odd how it works
when the chrome remote debugg

[2017-02-17 20:16] mauriciocoelho opened #40 "react native 0.40 RCTBridge.h and RCTLog.h error compile"
Hello,
I was with a problem to link lib in my project with react-native@0.40

I fix it changing import format `#import "RCTLog.h"` to  `#import <React/RCTLog.h>` and `#import "RCTBridge.h"` to `#import <React/RCTBridge.h>`

[2017-02-17 20:18] mvayngrib commented on #39
@cchance27 could you push your project with the reproducible error? I'll try to make time to look at it.

[2017-02-17 20:19] mvayngrib commented on #40
@mauriciocoelho version 2.0.0 already has this fix :)

[2017-02-17 20:29] mauriciocoelho commented on #40
@mvayngrib nice! Now I saw in the code, but not is not in npm yet.
Thanks

[2017-02-17 20:48] #40 closed

[2017-02-20 00:30] SiDevesh opened #41 "Error in bind() function"
In my app, I have configured things the folowing way:
1. When app opens, the first screen (say StartConfigScreen) sets up a socket in `componentDidMount()` as:

and then closes it in `componentWillUnmount()` as:

2)As soon as this component closes, another component (say MainScreen) creates and binds a socket on same port 4210, in same way as above code.
This works perfectly fine, on android devic

[2017-02-20 01:09] mvayngrib commented on #41
Does this happen when you use close() with a callback

On Sun, Feb 19, 2017 at 7:30 PM SiDevesh <notifications@github.com> wrote:

--
Mark Vayngrib
CTO & Co-founder
http://tradle.io
http://github.com/tradle
http://github.com/mvayngrib
US: +1 (201) 925-6626

[2017-02-20 01:27] SiDevesh commented on #41
Just tried, still happens :( @mvayngrib

[2017-02-20 02:06] mvayngrib commented on #41
@SiDevesh looks like we weren't respecting the callback in close(). Try the master branch, just added support

[2017-02-20 02:12] SiDevesh commented on #41
Trying now, Thanks btw, that was swift response!!! :+1:

[2017-02-20 02:34] SiDevesh commented on #41
Tried the master branch, still behaves the same, also tried transitioning to the second screen, from `close()` callback, still doesn't work.
`this.socketConn.close(() => {console.log("CLOSED");})` doesn't prints on console.
This is what the console looks like:
![image](https://cloud.githubusercontent.com/assets/17254413/23109921/2830e6a2-f743-11e6-8341-679f4a825db0.png)

[2017-02-20 04:02] mvayngrib commented on #41
@SiDevesh hm, it definitely calls back for me in close(). Does my example work for you? https://github.com/mvayngrib/rctudpclose

[2017-02-20 12:07] SiDevesh commented on #41
The example worked! Got the issue I was having, had to call the transition from `close()`'s callback. Thanks a lot!!

[2017-02-20 12:07] #41 closed

[2017-02-21 21:06] #32 closed

[2017-02-21 21:07] mvayngrib commented on #34
@ORESoftware not sure, and it's a bit out of scope for this module :)

[2017-02-21 21:07] #34 closed

[2017-02-22 00:24] ORESoftware commented on #34
My guess was I was switching between wifi networks at home. One was a "private" router in my apt. The other was a "public" xfinity router. I think the xfinity router blocks communication between devices on the network. AKA my android phone could not comm with my laptop despite being on the same intranet/subnet.

[2017-02-24 08:21] ORESoftware commented on #32
thanks for the info, very useful, shared it with my team, thanks again

[2017-03-06 15:22] dpxcc opened #42 "iOS native headers moved"
iOS native headers have been moved in React Native 0.40.0. Please update here and npm.

[https://github.com/facebook/react-native/releases/tag/v0.40.0](https://github.com/facebook/react-native/releases/tag/v0.40.0)

[2017-03-06 15:24] mvayngrib commented on #42
already released in 2.0.0

[2017-03-06 15:24] #42 closed

[2017-03-06 16:04] dpxcc commented on #42
Can you also update rn-nodeify? It's currently using 1.2.0

[2017-03-09 12:13] simlrh opened #43 "Dynamic require prevents use in React Native"
React Native's packager needs static requires to bundle apps.

[2017-03-09 12:29] simlrh commented on #43
Wrong repo, I'm an idiot

[2017-03-09 12:29] #43 closed

[2017-04-21 08:10] VijayLogitech opened #45 "Not able to bind the socket to a port less than 1024, but it is acomplished in native applications"
i am trying to convert my native app, to react-native for code sharing between android and ios. in my application, i use react-native-udp to detect the devices connected to the wifi. In my native application, i bind to a port 137, to detect a specfic type of device. When i try to recreate the same in react-native-udp, during bind, 137 it gives me error "EACCESS". the only difference i see from the

[2017-04-21 15:23] mvayngrib commented on #45
@VijayLogitech does it work when you use a MulticastSocket natively (not via react-native-udp -> GCDAsyncUdpSocket)?

[2017-04-22 09:27] h124551753 opened #46 "Android 7.0 cannot send data"
Android 7.0 cannot send data with IP both "255.255.255.255" and other IPs

[2017-04-26 10:58] mozi22 opened #47 "message recieved after 2-3 seconds delay"
Hi,

Thanks for the awesome library. I am trying to use it in an application where I will be recieving a message each 50ms. Right now when I send a single packet, I recieve it after a 2-3 seconds delay. Is it the normal expected behavior ? If not, can I do something to make it faster ?

I am debugging it on an **Google Nexus 9 tablet**.

I am recieving a CANMessage using the [busMaster software.](

[2017-05-03 18:59] jesper-johansson commented on #37
If anyone else has this problem try rebuilding and restarting the simulator

[2017-05-12 08:18] jsdario commented on #46
Seems it does not work on multicast, either

[2017-05-30 10:02] VijayLogitech commented on #45
@mvayngrib hi, sorry for the late reply, need ur help here.
i tried with multicastSocket natively to bind to port 137, and it gives the same EACCESS error which we get in react native. So multigram socket is not working for port 137 both in RN and natively.
Also the ip range supported in Multicast socket address range only 224.0.0.0 to 239.255.255.255.
So, i suggest having datagramsocket, for ip's

[2017-06-16 16:06] fabiopelosin opened #50 "Not receiving broadcast messages on Android"
Thank you for the great lib, very handy.

I’m observing a behaviour whereby broadcast messages are not received on Android (the same code works fine on iOS).

After a quick research I found some reports that indicate that it is necessary to acquire a MulticastLock in order to listen for broadcast messages. I attempted to implement the patch but my attempts did not manage to receive broadcast messa

[2017-07-12 01:05] crearc commented on #50
@fabiopelosin were you able to figure this one out? I'm also running into this on Android.

[2017-07-12 01:34] crearc commented on #50
It seems like the package is already attempting to acquire the lock: https://github.com/tradle/react-native-udp/blob/master/android/src/main/java/com/tradle/react/UdpSockets.java#L173

The code seems accurate to acquire the lock on Android, so it might be a different issue?

[2017-07-12 09:03] fabiopelosin commented on #50
@crearc unfortunately not. The lock that your are referencing if I recall correctly is for multicasting. Yet I tried a similar strategy for broadcasting and it doesn't work. Also to my eyes the permissions look good.

[2017-07-12 15:32] crearc commented on #50
Oh I gotcha. I was confusing multicasting vs. broadcasting (newish to networking stuff). I'm actually not receiving any multicast messages at all! Nothing is coming through :(. I am able to send on Android, just not receive. Not doing any iOS atm.

Here's my (slightly truncated) code:
[code]

[2017-07-12 15:40] aprock commented on #50
anything useful in the logcat?

[2017-07-12 15:57] crearc commented on #50
Message is sent. It actually receives it's own message (last line), but doesn't get others.

[code]

[2017-07-12 17:23] crearc commented on #50
Wow, so apparently it's a hardware-specific issue. My Kindle Fire receives the messages, but not the Samsung Galaxy Tab A 7...

[2017-07-12 18:10] crearc commented on #50
The plot thickens... So I switched to a different router. The Samsung works for send/recv, as does the Fire. The Nexus still does not send or recv... What settings on the router would cause this to occur?

[2017-07-12 22:45] fabiopelosin commented on #50
For the record I discovered the issue on a Nexus 5.

I have no clue about how the router might interfere with some devices but not with others.

[2017-07-18 05:53] flomair commented on #46
This issue is fixed by https://github.com/netbeast/react-native-udp. @jsdario maybe you can submit a pull request

[2017-07-18 09:01] jsdario commented on #46
I believe in Netbeast we are currently using both, netbeast/react-native-udp and this project @v2.0.0 indistinguishbly.

Actually we found weird behaviour only when calling `setBroadcast` in Android 7 devices, which aparently is not necessary for it to work, *only in Android*, so in many ocasions you'll find code like the following:

[code]

This is however counter intuitive and, from my vary basi

[2017-08-08 05:39] intmainvoid opened #51 "Closing an already closed socket results in the passed-in callback not being invoked"
The problem appears to be in the first few lines of the `UdpSocket.prototype.close` function:
[code]
should be:
[code]
... since process.nextTick is not supported in React Native

[2017-08-09 12:54] mvayngrib commented on #51
resolved by #52

[2017-08-09 12:54] #51 closed

[2017-08-12 13:06] intmainvoid opened #53 "Receiving "Address Already in Use" error when binding two sockets to same port on iOS"
The Problem:
If two sockets running in the same app try to bind to the same port, an error occurs to the tune of:
[code]

Proposed Solution (for iOS):
GCDAsyncUdpSocket needs updating and react-native-udp needs to make use of `enableReusePort:flag:error:`

Proposed Solution (for Android):
TBC - (not even sure it is a problem)

More info here: https://github.com/robbiehanson/CocoaAsyncSocket/issues

[2017-08-22 01:39] intmainvoid commented on #53
The fix appears to work really well. No more errors of this kind were encountered after implementation.

[2017-09-08 06:04] santosh-btc opened #55 "How i encrypt udp paacket over WPA2_PSK encrypted network"

[2017-09-11 06:42] #55 closed

[2017-09-23 18:39] ASVBPREAUBV commented on #50
Did someone take a look at the native Implementation of socket.addMembership(multicastIP) function?

[2017-09-26 21:41] cristovao-trevisan commented on #47
Hello, I was having the same error because hostname could not be resolved (blocking the receiving thread), as I have no DNS in my network (I'm using an IOT device, ESP8266, in AP mode). If you also don't have a DNS this should fix your problem

[2017-10-02 16:49] burdiuz opened #57 "Lint error for WIFI_SERVICE memory leak"
Hi!

While building application based on RN 48.4 with react-native-udp, I've faced this error
[code]
As a workaround, solution described above can be used.

[2017-10-09 08:24] paranat9221 opened #58 "error: package com.tradle.react does not exist???"
hi, I use react-native-udp for getting ntp time but I got this errors.

[code]

Can someone help me fix this problem??

thank you :)

[2017-10-24 02:16] crearc commented on #46
Had this issue. The netbeast updates @flomair mentioned does work well! It's also still backwards compatible at the least back to Android 5.

[2017-10-25 02:10] quhaoran007 commented on #53
Can someone please follow up this. This issue happens very often to my app when another app is also using UDP and being kill by OS in the background(you can see from the multi-task screen). I think somehow OS wakes up the other app and that app binds the port, so my app using this library can't bind the port.  Have used "enableReusePort", but it didn't help.

[2017-10-25 02:23] mvayngrib commented on #58
maybe you forgot to run `react-native link`?

[2017-10-25 02:25] mvayngrib commented on #57
@burdiuz `context.getApplicationContext().getSystemService(...)` sounds like the way to go. Want to send a PR?

[2017-10-25 10:58] jsdario opened #59 "Fatal: UdpSockets.bind got 5 arguments, expected 4"
* Android (and iOS with different versions between native and JS)
* react-native 0.47

How? Rerun `npm install` and apparently my code jumped to the latest version.

Maybe this commit https://github.com/tradle/react-native-udp/commit/822b1e09337fded4d63baab0db3e0a86724b46eb is passed through the native-js bridge with extra params, crashing on Android.

[2017-10-25 12:26] mvayngrib commented on #59
@jsdario oops, good catch, will release patch in a bit

[2017-10-25 12:46] mvayngrib commented on #59
fixed in 2.2.1

@jsdario it's a good thing for this library that 2.2.0 broke your code, but to prevent this kind of "automatica" update from breaking ur project in the future, set your semver in package.json to allow patches but not minor versions to sneak through:

package.json
[code]

[2017-10-25 12:46] #59 closed

[2017-10-29 14:39] paranat9221 commented on #58
@mvayngrib yes I already try it both `react-native link ` and react-native link react-native-udp but its still doesn't work ;(

[2017-10-29 15:25] mvayngrib commented on #58
@paranat9221 you're using `react-native run-android` to run your project?

[2017-11-07 08:15] a1252425 opened #61 "android socket.bind(8213): Uncaught, unspecified "error" event. ([object Object])"
I do this:
var socket = dgram.createSocket('udp4')
socket.bind(port)

console.log:
socket-0 binding, address: 0.0.0.0 port: 82138
socket-0 failed to bind {message: "port=82138"}
error: Uncaught, unspecified "error" event. ([object Object])
socket-0 send failed {message: "Socket is not bound."}

normal work last week

help...

[2017-11-07 08:25] a1252425 commented on #61
find it

if (port < 0 || port > 65535) {
            throw new IllegalArgumentException("port=" + port);
        }

[2017-11-07 08:25] #61 closed

[2017-11-09 02:24] paranat9221 commented on #58
@mvayngrib yes

[2017-11-09 02:45] mvayngrib commented on #58
@paranat9221 are you able to successfully use other react-native modules with android components?

[2017-11-09 03:38] paranat9221 commented on #58
@mvayngrib yeah, I already use others component such as splashscreen ,FacebookSdk ,PushNotification and it's work fine

[2017-11-13 14:13] mvayngrib commented on #58
@paranat9221 sorry, not sure how i can help. If you haven't already, make sure:

1. you can find UdpSocketsModule.java in node_modules
2.  `compile project(':react-native-udp')` is in the android/app/build.gradle dependencies block
3. these two lines are in android/settings.gradle:
[code]
4. just in case, clean before u run again: `cd android && ./gradlew clean` then `react-native run-android` aga

[2017-11-17 01:40] paranat9221 commented on #58
@mvayngrib it's work now! that is my fault. I forget to add `compile project(':react-native-udp')` in build.gradle.

thank for your support :)

[2017-11-17 01:40] #58 closed

[2017-11-17 01:44] mvayngrib commented on #58
@paranat9221 cool :)

[2017-12-01 11:21] nim23 opened #62 "Index out of bound error iOS"
I am currently seeing the below index out of bound issue when calling `client.bind(0)` which crashes our app, and really have no clue why it's happening.

<img width="1395" alt="screen shot 2017-12-01 at 11 10 42" src="https://user-images.githubusercontent.com/1999331/33480391-a026f2ee-d688-11e7-92ea-bb94b6081f01.png">

Looking at https://github.com/tradle/react-native-udp/blob/master/UdpSocket.js

[2017-12-08 10:01] mateuszdargacz commented on #57
@mvayngrib is there any update on that?

[2017-12-08 13:35] LuisBL commented on #57
get this Pb too here

[2017-12-08 15:25] mvayngrib commented on #57
@mateuszdargacz @LuisBL fixed in https://github.com/tradle/react-native-udp/commit/c48e42d4497a3275e08776aac197aa978bea84dd, released in 2.3.1

[2017-12-08 15:25] #57 closed

[2017-12-12 16:40] sebastiancoke commented on #53
I have tried:
try socket.enableReusePort(true)
but does not work.
what else should I do.

            try socket.enableReusePort(true)
            try socket.bind(toPort: PORT)
            try socket.enableBroadcast(true)
            try socket.joinMulticastGroup(IP)
            try socket.beginReceiving()

[2017-12-12 21:06] #53 closed

[2017-12-17 01:14] steadicat opened #63 "Support for RFC-1123 hostnames (e.g. 0.pool.ntp.org)"
The [valid host name regex](https://github.com/tradle/react-native-udp/blob/master/UdpSocket.js#L26) references [RFC-952](https://tools.ietf.org/html/rfc952), which disallows hostnames that start with numbers, such as `0.pool.ntp.org`.

RFC-952 was superseded by [RFC-1123](https://www.ietf.org/rfc/rfc1123.txt) around 28 years ago. RFC-1123 reads:

I think it’s time to update that regex. 😉

[2017-12-27 17:55] GeoffreyPlitt opened #65 "Example for sending without listening?"
I have a remote service which is listening for UDP packets at a specific host/port.

Is there an example of how I would, from react-native, bind a socket to send to that host/port? The examples all seem based on listening (server) but I want to send without any listening (client).

[2017-12-27 18:49] mvayngrib commented on #65
@GeoffreyPlitt the example shows how to send: https://github.com/tradle/react-native-udp/blob/master/examples/rctsockets/index.ios.js#L76. I don't remember whether I ever tried it without listening. Does it not work for you?

[2017-12-27 19:01] GeoffreyPlitt commented on #65
Gotcha, will try that!

[2017-12-27 19:01] #65 closed

[2018-01-03 03:08] steadicat opened #66 "Cannot send/bind without an address in IPv6"
If you call `send` or `bind` without an address on a `udp6` socket, the `bind()` function [sets the address to 0.0.0.0](https://github.com/tradle/react-native-udp/blob/master/UdpSocket.js#L86), which is not a valid IPv6 address. The Node.js version [defaults to ::](https://github.com/nodejs/node/blob/master/lib/dgram.js#L221) when in IPv6 mode.

Additionally, explicitly binding to `::` doesn’t see

[2018-01-15 20:54] quhaoran007 commented on #53
Hi @intmainvoid , did you find a solution for this? I'm using the CocoaAsyncSocket. This issue happens very often to my app when another app is also using UDP and being kill by OS in the background(you can see from the multi-task screen). I think somehow OS wakes up the other app and that app binds the port, so my app using this library can't bind the port. Have used "enableReusePort", but it didn

[2018-01-15 21:22] intmainvoid commented on #53
@quhaoran007 - Yes I did. This PR fixed the problem: https://github.com/tradle/react-native-udp/pull/54. You might still see "Address already in use" in your logs but it won't be a fatal error and that application will behave as intended. Make sure you set the reusePort option to true like so
[code]

[2018-01-15 21:40] quhaoran007 commented on #53
@intmainvoid Do you if that bug has been fixed in the original CocoaAsyncSocket lib? Because I'm using CocoaAsyncSocket and the last time I tried with reusePort = true and which has no effect. Thanks

[2018-01-15 21:54] intmainvoid commented on #53
The original CocoaAsyncSocket lib that has been included in this library contains all the necessary logic to support the SO_REUSEPORT option. See https://github.com/tradle/react-native-udp/blob/master/ios/CocoaAsyncSocket/GCDAsyncUdpSocket.h#L493.

For react-native-udp this option is set in the bridging module: https://github.com/tradle/react-native-udp/blob/master/ios/UdpSocketClient.m#L100.

Eve

[2018-01-17 18:57] cstranex commented on #47
I was having the same problem where my socket would freeze every so often for a couple seconds. So far it appears using @cristovao-trevisan's suggestion fixes the problem

[2018-01-19 14:15] pacamara opened #67 "Changes needed for gradle 3.0.1 compatibility"
Some minor changes are needed for gradle 3.0.1 compatibility: in android/build.gradle:
* Remove the `buildToolsVersion`, gradle now specifies a default and the current value conflicts with that.
* Declare dependencies using `api` not `compile` per https://developer.android.com/studio/build/gradle-plugin-3-0-0-migration.html#new_configurations

We are currently hacking these changes with a script i

[2018-02-06 11:06] hatyaiapp opened #68 "UdpSockets.bind was called with 4 arguments but expects 5 arguments."
- iOS
- react-native 0.50.3
- react-native-ntp-client 0.5.5
- react-native-udp 2.3.1

I got this error

    UdpSockets.bind was called with 4 arguments but expects 5 arguments. If you haven't changed this method yourself, this usually means that your versions of the native code and JavaScript code are out of sync. Updating both should make this error go away.

[https://github.com/tradle/react-nati

[2018-02-06 14:44] mvayngrib commented on #68
can you pause it in the debugger on this line https://github.com/tradle/react-native-udp/blob/master/UdpSocket.js#L99 and paste the local variables?

[2018-02-07 01:37] hatyaiapp commented on #68
sorry @mvayngrib I'm not sure how to do that ;(

[2018-02-07 03:56] mvayngrib commented on #68
@hatyaiapp if you push your project and give me a link, I can take a quick look

[2018-07-16 19:22] bahientn9x opened #70 "Can't receive a message"
Hi,
Thanks for the awesome library. I'm trying to receive a message but failed. But when I turn on the js debugger it worked. When I turn off the js debugger it does not working. So why does not it work ?

[2018-08-24 02:31] asukiaaa commented on #50
In my case, I cannot send (and maybe also receive) udp signal from Android.
After creating MulticastLock in Java code, I succeeded in sending and receiving.
[code]

I release lock after that.
[code]

Thank you.

References:
https://qiita.com/niusounds/items/f080537417a0512acf15
https://pzoleeblogen.wordpress.com/2014/03/04/android-udp-broadcast-message-is-not-received/

[2018-09-14 07:52] mozaik1 opened #71 "Error in bind() function, remote host. !!"
Hi,
When I defined host value as my '127.0.0.1', system is working. But I defined my host value as my 'xx.xxx.xxx.xx' (remote host). System and bind function not working.
[code]

![simulator screen shot - iphone 6 - 2018-09-14 at 10 33 34](https://user-images.githubusercontent.com/16558196/45537129-21bdb800-b80c-11e8-975f-4007c63d29fd.png)

[2018-09-14 11:16] mvayngrib commented on #68
closing due to inactivity

[2018-09-14 11:16] #68 closed

[2018-09-14 11:18] mvayngrib commented on #70
@bahientn9x react-native uses a different JS engine when the debugger is attached (Google Chrome).  To investigate, try without the debugger, with some extra logging

[2018-10-07 19:19] shashfrankenstien opened #73 "Bound port not same as what my server is seeing"
On the React-Native side, I'm binding to port 55555.

[code]

I'm seeing the following console log
[code]

It works as expected maybe 8 / 10 times. On my server side, I'm opening a UDP socket using python

[code]

When I run `foo` multiple times, here's my python output

[code]

I'm not able to figure out why the port is changing!

[2018-10-07 19:47] mvayngrib commented on #73
@shashfrankenstien sorry, i won't have time to help in the near future! However, my first thought is: you're not printing the received message 'msg', so it might be another sender sending you msgs from those other ports. Maybe you can check

[2018-10-07 20:44] shashfrankenstien commented on #73
@mvayngrib thank you for the quick response! The code I’ve posted is modified to just demonstrate the issue. It is much larger where I am logging each message. So the server is in fact receiving the message. I ran this shortened version using node dgram, and I don’t see this issue. That’s what led me to believe it has something to do with react-native-udp

[2018-10-07 21:05] mvayngrib commented on #73
@shashfrankenstien ah, i see. Unfortunately, I don't have time to investigate this at the moment, but if you do figure out the issue, PRs are welcome :)

[2018-10-11 13:14] thierryfornetti commented on #71
I had this error in ios only, it happens when a second socket is starting and te previous is closing.
[code]

I've "solved" it by catching the error:
[code]

I think it's a problem related to ios and the way it handles sockets.
I'm using `react 16.0.0-beta.5`, `react-native 0.49.5`, tested with iphone 5 ios 10.3.3 and emulator iphone 6 ios 11.2

[2018-10-11 13:48] mvayngrib commented on #71
@mozaik1 i'm not sure I understand, what is remote host? Your public IP address? If yes, I don't think that's possible. Does it work on node with `dgram`?

@thierryfornetti you can't have two sockets bound to the same port. It looks like you're attempting to bind the 2nd before you close the first. Remember that close() is asynchronous, and u need to wait for it to call your callback before you bi

[2018-10-11 14:16] thierryfornetti commented on #71
@mvayngrib you're right about the port, technically I've already closed the previous socket.
I have a `UDPServer` component which open a server in the `componentDidMount` and close it in the `componentWillUnmount`. The second socket is created when the component is rendered the second time to replace the previous, so it's not like I want a second socket.
I should keep in mind that the `close()` is

[2018-10-11 15:32] mozaik1 commented on #71
@mvayngrib Yes. As a remote host I mean my server's public ip? Is this wrong? UDP server works on only localhost? If yes, how I manage to connect client and server by using udp channel?

[2018-10-11 15:45] mvayngrib commented on #71
@mozaik1 on your client, you bind to your client's localhost. On your server, you bind to your server's localhost. Then you send each other messages by indicating the counterparty's ip and port in send(). Typically the client will start the conversation, as the server is better set up network-wise to receive inbound packets. Client-client comm is hard because of NATs.

[2018-10-11 19:44] urbien commented on #71
much better

[2018-10-15 11:58] Andrfas commented on #68
I have the same issue.
@mvayngrib in the line you asked for I see only 4 arguments passed. Is that the issue?
![image](https://user-images.githubusercontent.com/3988369/46949581-9b0a2e00-d08a-11e8-8a1e-4698deaad360.png)

iOS
react-native 0.56.0
react-native-ntp-client 0.5.5
react-native-udp 2.3.1

[2018-10-24 13:46] mvayngrib commented on #50
@thierryfornetti i'm not that familiar with the java half of this module, maybe @aprock knows

[2018-10-24 16:35] rimzici commented on #53
@intmainvoid : looks like port reuse is done specifically for iOS
https://github.com/tradle/react-native-udp/blob/master/UdpSocket.js#L95

Any suggestion for Android ?
I am facing same crash in Android due to the address already being used.

[code]

[2018-10-25 06:32] rimzici commented on #53
My apologies, reuse address seem to be `true` by default in Android.
https://github.com/tradle/react-native-udp/blob/master/android/src/main/java/com/tradle/react/UdpSocketClient.java#L252

So with that being true, what could be the reason for the error/crash?

**from crashlytics:**
[code]
- So far only reported in Android 8
- "react-native": "^0.54.0"
- "react": "^16.3.0-alpha.1"
- "react-native-

[2018-10-29 11:05] ldhios opened #74 "Can't receive message when use muticast."
Hi,
   Thanks for your provide great lib.  I use in muticast.

The bind function is normal , if not set the muticast address.
if the ip is set  muticast address.  Can't receive message.

    this.udpServer = dgram.createSocket('udp4');
    this.udpClient = dgram.createSocket('udp4');
    this.ip = '239.255.255.250'//if the ip is default 0,0,0,0;
    this.port = 7234;

    this.udpServer.bind(this.

[2018-11-07 13:40] faxe1008 opened #75 "Sockets.createSocket undefined object"
Hi,

I am using your library this way:

import dgram from 'react-native-udp';
[code]

I get this stacktrace:
[code]

The version that I am using are:
[code]

I followed your README during installation but when debugging your library I notice that in UdpSocket.js
`NativeModules.UdpSockets` is undefined.

Can you please advice what to do?

[2018-11-07 13:46] mvayngrib commented on #75
@faxe1008 is this an app built with expo? If so, you'll need to eject it before you can add native modules like react-native-udp

[2018-11-07 13:49] faxe1008 commented on #75
I am a complete noob regarding this stuff, I was told to build it using this language and never even touched it before so I appreciate your help.
Indeed I created the project using expo init. How do I eject it?

[2018-11-07 13:58] mvayngrib commented on #75
@faxe1008 haha, sorry, no idea, I've always used react-native on its own without expo. I imagine expo has some FAQ/docs on the subject

[2018-11-07 14:01] faxe1008 commented on #75
Yes I found it:
https://docs.expo.io/versions/latest/expokit/eject

One thing I did not fully understand from this doc: Can I continue working on the app I created using expo and only have to test with the android/ios version or do I have to work on the android/ios version directly?

[2018-11-07 14:07] mvayngrib commented on #75
@faxe1008 sorry, I don't really know enough to say. Btw, briefly skimming their docs, looks like they have `detach`, which is a bit less drastic

[2018-11-07 14:13] faxe1008 commented on #75
Thanks a lot @mvayngrib for the help, appreciate it.

[2018-11-11 21:13] faxe1008 commented on #75
@mvayngrib by trying a couple things I noticed that ejecting screwed things up - starting with a react-native project was key.

However I wonder if you could help me one last time :^)
The App is supposed to broadcast messages in the local network:
[code]

For sending I use:
[code]

When I use setBroadcast I receive nothing in the app but without I receive the message. What is wrong here?

[2018-11-11 21:52] mvayngrib commented on #75
@faxe1008 does your example work in regular node.js but not in react native?

[2018-11-13 08:45] BaQaDa commented on #50
Seriously it is, I am struggeling with the same stuff , some devices send and receive; other devices do not.
Moreover , sometimes on the same device it receive and other times not... What is going on !!??

[2018-11-21 17:13] shashfrankenstien commented on #73
Update: This doesn't seem to happen on Android!

[2018-12-13 01:40] zi6xuan commented on #39
I have the same error，do you fix it? friend！

[2018-12-13 02:19] zi6xuan commented on #39
I fix it,just see this
If you want to send and receive node Buffer objects, you'll have to "npm install buffer" and set it as a global for UdpSockets to pick it up:

global.Buffer = global.Buffer || require('buffer').Buffer

[2018-12-19 05:57] imeijie commented on #50
[Many devices have multicast disabled in the kernel [36966360] - Visible to Public - Issue Tracker](https://issuetracker.google.com/issues/36966360)

[2019-01-17 01:22] glenne commented on #63
I've added a pull request to fix this:  https://github.com/tradle/react-native-udp/pull/77.  In case someone needs this, the proper regex is available at https://www.regextester.com/23.

[2019-01-22 02:56] TheSavior commented on #75
I got this error on my app because I forgot to run `react-native link react-native-udp`.

[2019-01-23 06:06] desidigitalnomad commented on #53
@rimzici Did you find out a solution for the issue?

[2019-01-29 14:47] mpowell90 opened #78 "IOS - UdpSockets Project - not finding React header files"
Failure during Xcode build due to not finding React header files
![screen shot 2019-01-29 at 11 37 54](https://user-images.githubusercontent.com/13612826/51905918-82642080-23ba-11e9-8182-4c307f87b42c.png)

I've attempted several different approaches to solve this issue:
1. Added relative path to node_modules/react-native/react in master projects build settings -
2. Unchecked parallelize build and

[2019-01-29 14:56] tinchoz49 opened #79 "Compile android error in a clean project"
Hi, first of all, thanks for your work on this library! I used in the past and it worked great.

I'm having a compile error on Android in a clean project.

[code]

I know that it seems that error is related to my MainApplication but this only happening if I activate the react-native-udp module.

react-native-cli: 2.0.1
react-native: 0.58.3

## How to reproduce it

1. react-native init newproject
1

[2019-02-01 14:58] hevili commented on #79
same issue here

[2019-02-01 19:16] tinchoz49 commented on #79
Hi @mvayngrib !! awesome, it worked. Thanks!! don't forget to publish it.

[2019-02-01 19:18] tinchoz49 commented on #79
I want to ask you about react-native-udp + bittorrent-dht, do you think that it's ok to open a new issue to talk about it?

[2019-02-01 19:52] mvayngrib commented on #79
@tinchoz49 cool, published as 2.4.0

sure, open away

[2019-02-01 23:45] tinchoz49 commented on #79
fixed by the release v2.4.0

[2019-02-01 23:45] #79 closed

[2019-02-18 00:04] mvayngrib commented on #78
@mpowell90 yes, RN 0.40 or so changed imports. Basically all the imports in this library need to be conditional, e.g.:

[code]

feel free to send a PR :)

[2019-02-18 00:06] mvayngrib commented on #75
closing due to inactivity

[2019-02-18 00:06] #75 closed

[2019-02-18 00:07] mvayngrib commented on #74
@ldhios does this code work for you in Node.js?

[2019-02-18 00:07] mvayngrib commented on #71
closing due to inactivity

[2019-02-18 00:07] #71 closed

[2019-02-18 00:07] mvayngrib commented on #70
closing due to inactivity

[2019-02-18 00:07] #70 closed

[2019-02-18 00:09] mvayngrib commented on #63
fixed by #77

[2019-02-18 00:09] #63 closed

[2019-02-18 00:13] mvayngrib commented on #38
closing in favor of #80

[2019-02-18 00:13] #38 closed

[2019-02-18 00:15] mvayngrib commented on #62
whoever finds a stable reproduction of this, please reopen! Closing for now

[2019-02-18 00:15] #62 closed

[2019-02-18 00:15] mvayngrib commented on #39
closing due to inactivity

[2019-02-18 00:15] #39 closed

[2019-02-23 22:29] antonre999 opened #81 "Packet not sent until other packet received"
On Android my UDP broadcast packets aren’t getting sent until the device receives some other UDP packet.  If nothing on the network is sending packets then no packets ever leave my device. (Confirmed with wireshark).  Has anybody else seen this kind of behavior?

[2019-03-10 13:43] shynst opened #82 "setBroadcast(true) hangs on Android"
In order to send broadcast messages we need to call `setBroadcast()` first.
However this method hangs and never returns!

[code]

I tested in Android emulator and with a Samsung Galaxy S8. Both running on Android API 28.
Any ideas what is going on here?

[2019-03-10 13:45] shynst commented on #81
maybe this is related to my issue: #82?

[2019-03-10 22:40] mvayngrib commented on #81
sorry guys, no time to help at the moment, but if you figure it out, PRs are welcome

[2019-04-08 02:49] lovekobe24 opened #85 "project with react-native-udp build FAILED"
when project without react-native-udp, it build fine.
when project with react-native-udp,build failed,this is the error
[code]
my project build.gradle is below
[code]

[2019-04-09 12:45] Dimaspro100 opened #86 "undefined is not an object (evaluating 'Sockets.createSocket')"
Hi
I got this error on IOS when starting up screen where  RNU  is located

react-native-cli: 2.0.1
react-native: 0.57.8

RNU is already linked :
  pod 'react-native-udp', :path => '../node_modules/react-native-udp'

Can anyone help me?)

[2019-04-12 00:32] mvayngrib commented on #86
@Dimaspro100 did you follow the installation instructions in the readme? Are you also using Cocoapods?

[2019-04-25 05:11] Dimaspro100 commented on #86
Yes, I did.
Yes, we are using Cocoapods

[2019-04-25 12:22] mvayngrib commented on #86
@Dimaspro100 in Xcode, under Build Phases, Link Binary with Libraries, do you see libUdpSockets.a?

[2019-05-22 12:08] SoulKa opened #87 "Remove .git file from node package"
**Issue:** cannot use npm install after installing react-native-udp

**Output:**

**Reproduce:**

1. have an existing react native project
2. execute `npm install react-native-udp`
3. install any other node package

**Workaround:**

- delete /node_modules/react-native-udp/.git

or

- delete /node_modules
- execute `npm install` to install all packages simultaniously # #

[2019-05-22 14:04] mvayngrib commented on #87
@SoulKa hm, I don't see `.git` folder in `node_modules/react-native-udp/` after `npm install`. I checked the archive served at "https://registry.yarnpkg.com/react-native-udp/-/react-native-udp-2.5.2.tgz#503ab4054c16c57f90807e2e7c4c0fb407372783" and I don't see it in there either.

[2019-05-23 07:24] SoulKa commented on #87
@mvayngrib thanks for the fast reply! I used npm to install the package, not yarn. Do they use the same source for node packages? Or maybe it falls back to git clone for some reason.

I'm working on a Mac and the .git file appears after every clean install. The react-native-udp version I use is the current vesion "react-native-udp": "^2.6.0".

I will try to reproduce this weird behaviour on Winodw

[2019-05-24 19:37] SoulKa commented on #87
so I tried it again on Windows:
I executed `npm install --save react-native-udp` in an empty folder and got the .git folder:

drwxr-xr-x 1 Louis 197121    0 Mai 24 21:27 ./
drwxr-xr-x 1 Louis 197121    0 Mai 24 21:27 ../
drwxr-xr-x 1 Louis 197121    0 Mai 24 21:27 .git/
drwxr-xr-x 1 Louis 197121    0 Mai 24 21:27 android/
drwxr-xr-x 1 Louis 197121    0 Mai 24 21:27 ios/
-rw-r--r-- 1 Louis 197121 1

[2019-05-24 19:48] #87 closed

[2019-05-24 19:59] mvayngrib commented on #87
yea, strange, never seen this kind of behavior from npm install

[2019-05-29 02:22] Sbphillips19 commented on #87
I am facing the same issue, but I don't see a git folder inside?

node_modules/react-native-udp
npm ERR! code EISGIT
npm ERR! git /Users/../node_modules/react-native-udp: Appears to be a git repo or submodule.
npm ERR! git     /Users/../node_modules/react-native-udp
npm ERR! git Refusing to remove it. Update manually,
npm ERR! git or move it out of the way first.

[2019-05-29 02:44] mvayngrib commented on #87
published 2.6.1 with fix

[2019-05-29 08:05] SoulKa commented on #87
@Sbphillips19 Are you using Windows or Linux/Mac? Since the **.git** folder starts with a dot, it is hidden. On Windows you can check "show hidden folders" on the file browser. On Mac or Linux just run `ls -a` in the root of the node package "react-native-udp".

[2019-07-12 22:37] ejthayer commented on #79
This is not working on my iMac
I init a new project, does not matter what method I use to install it, I always get

Task :react-native-udp:compileDebugJavaWithJavac FAILED

[2019-07-21 11:01] stephenmarkham commented on #86
I seem to be seeing the same issue, and no I do not see 'libUdpSockets.a' in the link binary with libraries section (nor can I find it to add).

[2019-07-21 15:22] mvayngrib commented on #86
@stephenmarkham react-native version?

[2019-07-21 20:27] stephenmarkham commented on #86
"react": "16.8.6",
    "react-native": "0.60.4",
    "react-native-udp": "^2.6.1"

[2019-07-21 20:30] mvayngrib commented on #86
@stephenmarkham react-native 0.60 changed how native modules are linked. I'll try to investigate this soon, but for now, you can try react-native 0.59

[2019-07-21 20:34] stephenmarkham commented on #86
Thanks, will try that. It's caused a few errors initially so I will get back to you later on with the result

[2019-07-22 09:23] stephenmarkham commented on #86
I can confirm that using version 0.59 solved my problem, thanks.

[2019-07-23 14:35] filippoitaliano opened #89 "React Native 60 support"
I open this issue for tracking the progress to support React Native 60. We really need this fix. Maybe I'll submit a PR but I'm not an Android expert and I'm struggling with deadlines right now. Can anyone help?

[2019-07-29 15:16] bpourani opened #90 "undefined is not an object (evaluating 'Sockets.createSocket')"
Hello
I do these:

    git clone https://github.com/mvayngrib/react-native-udp-example
    cd react-native-udp-example
    npm install

    ./node_modules/.bin/react-native run-android

but I get the error on android emulator
undefined is not an object (evaluating 'Sockets.createSocket')

I linked all libraries
what is my problem?

[2019-07-29 23:20] mvayngrib commented on #90
i just updated react-native-udp-example to React Native 0.59.8, please try again:

[code]

[2019-07-29 23:43] bpourani commented on #90
now it gives me a new below error

FAILURE: Build failed with an exception.

* What went wrong:
Could not dispatch a message to the daemon.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

[2019-07-29 23:57] mvayngrib commented on #90
@bpourani that error doesn't sound specific to this module or that project, have you already googled it?

[2019-07-30 00:21] bpourani commented on #90
it fix but a new error comes and it's about the module

 bundling failed: Error: Cannot find module 'babel-preset-react-native' from '/home/XX-XXX/Documents/react-native-udp-example'
- If you want to resolve "react-native", use "module:react-native"
    at Function.module.exports [as sync] (/home/XXX/Documents/react-native-udp-example/node_modules/resolve/lib/sync.js:71:15)

[2019-07-30 00:33] mvayngrib commented on #90
@bpourani u probably need to restart the packager (the terminal where you ran `yarn start`)

[2019-07-30 14:04] bpourani commented on #90
yarn start does not installed. I ran with react-native start and when I ran it, it gives me that error

bundling failed: Error: Cannot find module 'babel-preset-react-native' from '/home/XX-XXX/Documents/react-native-udp-example'

[2019-07-31 09:15] lishanxin commented on #86
i have the same problem, on react-native 0.59.5. it occur on iphone, but android is worked well. Could you solved my problem?Thanks.

[2019-08-01 03:27] lishanxin commented on #86
I have solved this problem. You can try it.
1:  npm install --save react-native-udp
2: open xcode for your project
3: Click "Show the Project Navigator" on the left window in xcode
4: Right Click the Group of "Libraries"
5: Select 'Add Files to "your project name"'
6: find the path of react-native-udp, click the directory 'ios'
7: select file "UdpSockets.xcodeproj",and click "ADD". then you can fi

[2019-08-01 17:40] mvayngrib commented on #86
@lishanxin thanks! see the official docs here btw: https://facebook.github.io/react-native/docs/linking-libraries-ios.html

[2019-08-01 23:07] mvayngrib commented on #85
don't have time to investigate but happy to accept fixes

[2019-08-01 23:14] mvayngrib commented on #89
i just tried 0.60 and it worked fine:

[code]

[2019-08-02 21:48] bpourani commented on #90
It gives me this error what is problem?

error: bundling failed: TypeError: Cannot read property 'bindings' of null
    at Scope.moveBindingTo

[2019-08-06 13:26] miketall opened #91 "Can't connect to more than 3 ports (multiple sockets) on Android phone"
When I run the code, it works fine with trying connect to 3 sockets, but the code basically bricks when I try to do more than 3, causing me to do a hard restart.

I'm trying to do an IoT application where I have to connect to multiple sockets.

See attached code.  Thanks!

[react native udp IoT application test.txt](https://github.com/tradle/react-native-udp/files/3472473/react.native.udp.IoT.appl

[2019-08-06 13:39] mvayngrib commented on #91
@miketall thanks for the report! i'm afraid i won't have time to work on this in the short term, but if you figure out the cause, PRs are welcome!

[2019-08-07 23:36] mykhaliuk commented on #90
Got the same issue:
Created`react-native init myApp —template typescript`
Added `cd myApp && yarn add react-native-dup`
Linked `react-native link react-native-udp`
Then
[code]

[2019-08-08 02:25] mvayngrib commented on #90
@mykhaliuk did you check that the library was actually linked? See here: https://facebook.github.io/react-native/docs/linking-libraries-ios#manual-linking , you might need to link manually

[2019-08-08 21:01] mykhaliuk commented on #90
Thanks, @mvayngrib! I've checked and it wasn't :/
Nevertheless, I did not succeed to link it manually also. Can't avoid the error about unable to find the header file
Are you planning to support auto-link in the future?

[2019-08-08 21:38] mvayngrib commented on #90
@mykhaliuk auto-linking already works (if you're using RN >=0.60), u just need to `cd ios && pod install`, then run again from Xcode

[2019-08-19 14:19] ThoMiDev opened #92 "[iOS] Socket stop listening when the app coming from background (turned off the screen)"
When the phone's screen turned off, then I turned on it. The socket stop listening, so the app doesn't receive message any more.

[2019-08-19 14:23] mvayngrib commented on #92
@ThoMiDev this is to be expected, apps don't run when you background them

you can do a couple of things:
- extend execution: https://developer.apple.com/documentation/uikit/app_and_environment/scenes/preparing_your_ui_to_run_in_the_background/extending_your_app_s_background_execution_time
- periodic background tasks: https://developer.apple.com/documentation/backgroundtasks

closing as this is no

[2019-08-19 14:23] #92 closed

[2019-08-19 14:28] ThoMiDev commented on #92
Can I re-bind the socket after the app coming from background?

[2019-08-19 14:32] mvayngrib commented on #92
@ThoMiDev you should be able to, but you might want to listen for a 'close' and/or 'error' event on the first socket. You can also use the react-native built-in AppState module to detect coming back from background, and close/re-open any sockets

[2019-08-19 14:38] ThoMiDev commented on #92
I have tried to close the socket and re-open it, but I got the error: `Socket is already bound`

[2019-08-19 14:39] ThoMiDev commented on #92
const handleAppStateChange = (nextAppState: string) => {
        if (nextAppState === 'active') {
          socket.bind('0.0.0.0', (err: Error) => {
            console.warn('Connected Successfully?: ', err ? 'false' : 'true');
          });
        }
        else {
          socket.close();
        }
        console.warn(nextAppState);
    };

[2019-08-19 15:44] mvayngrib commented on #92
@ThoMiDev i'll see if i can test it some time this week. If you get it working before then, please leave a comment about what you did :)

[2019-08-20 17:12] bpourani commented on #90
now my problem is how to set port and host to the specific port and host?

[2019-08-21 17:12] bpourani commented on #90
Some one help me for it!!

![Screenshot from 2019-08-21 12-11-59](https://user-images.githubusercontent.com/17301738/63452838-e6a90900-c40c-11e9-9773-6527134f2f2f.png)

[2019-08-21 17:43] bpourani opened #93 "how to rendering message"
Please help me
I was running it but it does not rendering (showing) any message that sent from server.
how I can fix it??
![Screenshot from 2019-08-21 12-43-07](https://user-images.githubusercontent.com/17301738/63454869-41dcfa80-c411-11e9-851a-d4ae3547c5bd.png)

[2019-08-21 19:18] bpourani commented on #91
Hey Miketall

how did you run this code? could you send me your codes or project?

[2019-08-21 19:20] bpourani commented on #91
did you do it on android emulator?

[2019-08-22 18:48] cody-maheu commented on #91
`import React, { Component } from 'react';
import { Text } from 'react-native';

import dgram from 'react-native-udp';

class App extends Component {
	state = {
		msg: {}
	};

	async componentDidMount() {
		for (let i = 5000; i < 5002; i++) {
			let socket = await dgram.createSocket('udp4');

			await socket.bind(i, () => {
				console.log('binding');
			});

			await socket.on('error', err => {

[2019-08-22 18:52] cody-maheu commented on #91
I posted the code above, we ran it on both emulators and physical devices. We created a loop, you can expand the loop to listen to more ports. Each time we connected there was a cap at how many ports we could listen on. When we used a Galaxy s7 or the emulator, it was 3. When I used a google pixel it was 8.

We ended up running very similar code using the react-native-tcp library. It works for up

[2019-08-22 18:55] cody-maheu commented on #91
Something worthy of noting is that when we ran the code, we found the cap for each device. When it is under the cap, it works fine and outputs everything. When it is over the cap, we get no response, even from the ports that were previously working. You can recreate this by looping > 3 or < 3.

@bpourani

[2019-09-03 19:37] bpourani commented on #91
Hey Miketall

thanks for helping me
I want to connect this client to just one IP address and port. which part needs change?

[2019-09-04 11:03] filippoitaliano commented on #89
It probably was a jetifier issue in the first 0.60 days. Now it works fine. Thanks for the verification.

[2019-09-04 11:03] #89 closed

[2019-09-09 23:46] Rapsssito opened #94 "AndroidX (RN 0.60.5) not supported"
When trying to generate an APK the compilation gets stuck with the following errors: https://github.com/rt2zz/react-native-contacts/issues/395#issuecomment-503428694
Possible fix:
https://github.com/rt2zz/react-native-contacts/issues/395#issuecomment-503808060

[2019-09-10 03:01] mvayngrib commented on #94
@Rapsssito have u tried https://github.com/rt2zz/react-native-contacts/issues/395#issuecomment-506064542  ?

[2019-09-10 13:57] Rapsssito commented on #94
Yeah, it works now!

[2019-09-10 13:57] #94 closed

[2019-09-18 14:30] mykhaliuk commented on #90
Was playing around and found out that I can't make it work with `expo`. Tried on the ejected expo and on just created expo-bare template - no success. `pod`s installed. But at the same time, it works well with a `react-native run-ios` command.
What is ~my~ the problem? Is it something special with `expo`?

[2019-09-18 15:11] mvayngrib commented on #90
@mykhaliuk yes, see expo's explanation: https://docs.expo.io/versions/latest/expokit/eject/#what-is-this-for

[2019-10-17 19:22] Rapsssito opened #96 "setBroadcast(true) not working on Android"
When calling **`socket.setBroadcast(true)`** on Android after binding the socket, it makes whole the process hang forever. This method works on iOS.

[2019-11-23 19:01] Nerixyz opened #98 "RemoteInfo.address is misleading"
As the title suggests, the address in the RemoteInfo leads one to think it contains an IP. But it doesn't. The name 'host' would be easier to understand as host and address aren't the same.
This is where the "semantic shift" occurs (at least on android):
https://github.com/tradle/react-native-udp/blob/b34d76482962da83994616cd8ce562e03c750482/android/src/main/java/com/tradle/react/UdpSockets.java#L

[2019-12-20 22:25] Anarchonist7 commented on #68
This is still a problem, why is this closed?

[2019-12-20 23:01] mvayngrib commented on #68
@Anarchonist7 only one person hit it and couldn't provide a repro or additional information. If you can, happy to reopen

[2019-12-20 23:25] Anarchonist7 commented on #68
@mvayngrib I appreciate the quick reply. I'm in the exact same situation as that other guy. I'm beginning to think it's not an issue with this particular package though, but rather react-native-clock-sync. react-native-ntp-client works fine, and as I understand, it also depends upon this package. That one was updated 16 days ago though, so clearly they fixed whatever the problem was. This project

[2020-01-01 16:01] Rapsssito opened #101 "Is this repository abandoned?"

[2020-01-01 22:06] mvayngrib commented on #101
@Rapsssito not abandoned, but it is not being actively maintained. I have little time to dedicate to this, but if you want to send some PRs, and seems it's the same case with @aprock

[2020-01-01 22:10] Rapsssito commented on #101
@mvayngrib I asked because there are a few PRs that I would really like to see merged. However, they seem to have been waiting for a long time. Is there a possibility to add another maintainer to the repo?

[2020-01-01 22:21] mvayngrib commented on #101
@Rapsssito which PRs specifically? Can you please comment on the ones u'd like merged what specifically u tested?

yep, though i'd prefer to have the person make/test a few PRs before making them maintainer

[2020-01-01 22:26] Rapsssito commented on #101
I have been using PRs #97 and #95 with this repo master branch without issues. It would be great if you could publish an update to npm, at least with the master branch changes.

[2020-01-04 03:19] luobao1207 commented on #96
I have the same problem.

[2020-01-04 03:19] luobao1207 commented on #96
@Rapsssito Have you solved it?

[2020-01-04 03:21] luobao1207 opened #102 "setBroadcast(true) not working on Android"
When calling socket.setBroadcast(true) on Android after binding the socket, it makes whole the process hang forever. This method works on iOS.

[2020-01-04 10:13] Rapsssito commented on #96
Sadly, no.

[2020-01-04 11:17] luobao1207 commented on #96
@Rapsssito
I've been working all day, but I still haven't solved the problemwe. we need author's help.
If you solve it, please let me know.thanks

[2020-01-04 11:39] Rapsssito commented on #96
I think it is related to the Android part. It looks like the process hangs on setting the socket broadcast to `true`.

[2020-01-05 17:50] #47 closed

[2020-01-05 19:02] Rapsssito commented on #102
Dupe of #96.

[2020-01-05 19:03] #101 closed

[2020-01-05 19:04] Rapsssito commented on #67
Fixed in 3.0.0 (#97)

[2020-01-05 19:06] Rapsssito commented on #96
There could be useful info in #82 and @shynst's commit in his fork: https://github.com/shynst/react-native-udp/commit/aef3f01981d3ed3358181a9e2f8763257b86000d.

[2020-01-30 03:44] gibo77 commented on #91
Hello Team!

It seems that I am having same issue here. When I get to socket-3, the App just crash. I have to restart the Samsung Tablet. Yes, I use Samsung tablet.
My code is below. This code is executed every time a button is pressed. I noticed every time I press the button socket-x will count where x=0 to 3. At three the App crashes. I did close the sockets, as you can see on my program.

`Send

[2020-01-30 05:06] gibo77 opened #106 "The close() does not seem to be closing the connection at all"
My first UDP transmission it works fine. But after at least 10 seconds, the App crashes, even if I already closed the connection. I have to reboot the Smart phone that runs the App to make it work again for 10 seconds only.

`Send_UDP_Multicast = () => {
    let UDPSocket = dgram.createSocket('udp4');
    let LocalPort = Math.random() * 60536 | 0 + 5000 // 60536-65536
    const RemotePort = 8266;

[2020-01-30 15:34] baharb commented on #81
This is my problem too. But when I use "send" in an interval, the app stops sending packets.

[2020-01-31 00:25] gibo77 commented on #106
UPDATE:
I got some headwinds and I want to share with you!

I was able to make the App stable without crashing, but for now I can only send one way from the App going to my ESP8266 UDP server.

I did not use `.bind`.

My program below.

`const dgram = require('dgram');
    const message = Buffer.from('Some bytes');
    const client = dgram.createSocket('udp4');
    client.send(message,0, message.l

[2020-02-06 14:17] claudioviola commented on #68
@Anarchonist7 I've been facing same issue, I'm using react-native-clock-sync too.
Did you figure out the solution to fix it?

[2020-02-09 16:27] gibo77 commented on #106
UPDATE: For some reason the solution before did not work. After the second or third send, App crashes.

[2020-02-18 09:49] baharb opened #109 "Stop sending packets in a real time application"
Hi
I have a real time application that sends packet every 10 ms. And also the user can send other packets from the app. Some times the application stop sending packets:
1. When an interval sending packets is smaller than 700 ms.
2. When the packet that send from app interval and the packet from the user send together , or send too close together.
How could I solve this problem?
Is there any wait i

[2020-02-19 03:20] Fr33maan commented on #101
@mvayngrib hey mate, any chance to make @Rapsssito maintainer ? He is active on the repo and have made important PRs.
This package is the only UDP stuff on RN and it would be very nice to bring some activity on it. It has 5000 downloads a week, that's a lot of people to take care of and we all understand you don't have much time. <3

[2020-02-22 04:51] gibo77 commented on #106
UPDATE:
I hope this is it. I tested this and so far I did not get any crashes or error for 5 hours of testing and up to 50 tries of sending UDP.
What I did is I put my UDP process in ComponentDidMount(). Because before it was outside the ComponentDidMount().

[2020-02-24 23:34] danhoffman699 commented on #109
I'm using this for a similar purpose, and I think this is contributing to some latency.

[2020-03-05 04:23] gibo77 commented on #106
After half a month of testing, there were no crashes. UDP communication worked great. I even tried it on multiple servers with one UDP sender. It worked great. One server will get received. Sometimes the other server will get received by just one receiver. It really depends I guess on the dynamics who will get received first. But it is behaving like what is UDP.

[2020-03-05 04:23] #106 closed

[2020-03-05 04:25] gibo77 commented on #93
Can you show your program?

[2020-03-13 19:21] jasonbodily opened #110 "Silence debug console statements"
Thanks for creating this library. A fellow co-worker has put this in as a dependency and now my logs are constantly full of `socket-xyz`. Could something be added to this block to optionally silence this?

[code]

Not sure if that'd be best as an environment variable, but just a thought?

[2020-04-15 15:09] tjwelde opened #113 "Duplicate symbols with CocaAsyncSocket"
Hey,

I just had an issue, I was blocked by for some time (still new to react-native), which is connected to this repo.
I made a new react-native project with the react-native-cli and used rn-nodeify, because we use a lot of crypto.

Unfortunately, building failed, because of duplicated symbols. Here are the last lines:

[code]

`CocoaAsyncSocket` is loaded as a dependency to [flipperkit](https://

[2020-04-15 15:23] tjwelde commented on #113
Other symbols are
[code]
or
[code]

[2020-04-17 21:19] jctf commented on #113
Hi @tjwelde the last MR https://github.com/tradle/react-native-udp/pull/112 should fix this.
Might be an idea to clean the DerivedData and the build folder on xCode
- Suggestion: Xcode -> File -> Workspace Settings -> Select the button highlighted in the image attached -> Delete the DerivedData folder.
- Command + Option + Shift + K
- Command + Shift + K

try to a clean install
- npm i | yarn
- po

[2020-04-29 12:27] thibmaek commented on #96
I'm indeed seeing the hanging behaviour here. It even results in an error in a flow where you:

1. create a udpv4 socket
2. bind it
3. set broadcasting
4. call socket.close

That will throw an error `Socket is closed` from inside the `setBroadcast` method because it is still hanging.

Anyway, I've found that I can just omit the call to `setBroadcast` completely for Android. It nog longer produces

[2020-05-02 12:29] Fr33maan opened #115 "Can you designate a maintainer as you don't have time please ?"

[2020-05-02 12:30] Fr33maan commented on #115
@Rapsssito

[2020-05-02 18:14] mvayngrib commented on #115
@Fr33maan done. @Rapsssito you should see an invite :) sorry for the long wait, i kept thinking i'd have more time to review and test stuff

[2020-05-02 18:14] #115 closed

[2020-05-02 18:28] #67 closed

[2020-05-03 03:51] Fr33maan commented on #115
Good job ! You just gave a chance to this lib to have a long life ! <3

[2020-05-03 03:56] Fr33maan opened #116 "Base64 encoded messages before sent to bridge"
Messages are received from the socket, base64 encoded, passed through the bridge then they are decoded in JS before being sent with an event emitter.

Encoding Java -> https://github.com/tradle/react-native-udp/blob/master/android/src/main/java/com/tradle/react/UdpReceiverTask.java#L48
Encoding Objective-C -> https://github.com/tradle/react-native-udp/blob/master/ios/UdpSockets.m#L131
Decoding ->

[2020-05-03 09:38] #102 closed

[2020-05-03 09:39] Rapsssito commented on #96
Duplicate of #82, moving discussion over that issue.

[2020-05-03 09:39] #96 closed

[2020-05-03 09:41] Rapsssito commented on #116
I will take a look at the code, I am a little busy right now. I will get to you ASAP.

[2020-05-03 09:42] Rapsssito commented on #109
@baharb, thanks for the feedback! Take into account your own device and network limitations. Could you please share your code?

[2020-05-03 09:43] #86 closed

[2020-05-03 09:48] Rapsssito commented on #45
To bind to a port less than 1024, you need to be root. On Android, there are two ways of doing that: being **System app** or **su binary**. (_More info on this [StackOverflow answer](https://stackoverflow.com/questions/7870898/how-to-bind-to-a-port-less-than-1024-in-android)_).

[2020-05-03 09:48] #45 closed

[2020-05-04 16:33] serayuzgur commented on #90
Hi, I got the iOS version of the same problem.
` TypeError: undefined is not a function (near '...socket.connect...')`
I can receive UDP data but this error occurs after sending from the same device or simulator.
Do you have any hack or workaround ?

[2020-05-05 07:25] baharb commented on #109
Hi
This is my function for sending udp. every time for send every packets, this fuction calls. and if udp can't receive response , after some udp messages, stop sending packets.e
May be its stop binding in bind function in udpsocket.js file.

let a = dgram.createSocket({
        type: 'udp4'
 });

 randomPort = Math.random() * 60536 | 0 + 5000
a.bind(randomPort, function(err) {
      if (err) {

[2020-05-05 07:48] Rapsssito commented on #109
@baharb, I don't see any issues in this code. It might be related on the logic that calls this function. However, take into account that **creating a new socket every time you want to send a packet will slow down your system**. You might need to rethink your logic.

[2020-05-05 08:27] baharb commented on #109
@Rapsssito , Generally it works well. But if  send some packets together, its stop sending packets :/
What do you mean that I changes the logic?
I need to send packets for example every 200milli seconds. Could I use one socket for all packets??

[2020-05-05 08:31] Rapsssito commented on #109
@baharb, if you want to send a lot of packets, use the same socket, that is what I meant with "changing logic" (because you must now store that socket on a variable). **Socket creation is expensive**.

[2020-05-05 08:35] baharb commented on #109
@Rapsssito , That's right, tnx a lot.
I'll check it 👍

[2020-05-15 00:11] #91 closed

[2020-05-15 00:11] #93 closed

[2020-05-15 00:11] #81 closed

[2020-05-15 00:11] #74 closed

[2020-05-15 00:11] #78 closed

[2020-05-15 00:11] #46 closed

[2020-05-15 00:11] #50 closed

[2020-05-15 00:11] #21 closed

[2020-05-15 00:11] #23 closed

[2020-05-15 00:11] #6 closed

[2020-05-20 17:47] serayuzgur commented on #82
Hi, I got the same issue but in a different way. I just changed `setBroadcast` to work with iOS but still Android hangs after a while.  I found that with android sending to broadcast IP is enough we don't have call `setBroadcast(true)` but it still hangs at the `send` function. Here is part of my code and my log. Please look at the last line and you can see see that it logs `binded` but not `sent`

[2020-05-29 08:42] info-bit opened #117 "NullPointerException UdpSocketClient.isMulticast"
Hi,

This exception occurs in production builds very few times but I think it's worth noting. This is the crash report from Google Play Console:

[code]

[2020-05-29 16:53] gibo77 commented on #117
Make sure you close. Use timers or asych before you close to get all data you need. Nodejs udp can save almost 4000 message in 1 second as per blog of google senior programmer. 

Sent from Yahoo Mail for iPhone

On Friday, May 29, 2020, 3:42 AM, Info-Bit <notifications@github.com> wrote:

Hi,

This exception occurs in production builds very few times but I think it's worth noting. This is the cras

[2020-05-31 07:55] seth-shi opened #118 "Android: No client found with id X"
[code]

Only launch the app for the first time every time, After the normal

[2020-05-31 14:01] gibo77 commented on #118
Share your code so we can help you. 

Sent from Yahoo Mail for iPhone

On Sunday, May 31, 2020, 3:55 AM, 施国鹏 <notifications@github.com> wrote:

socket-0 binding, address: 0.0.0.0 port: 5607
 LOG  socket-0 failed to bind {"message": "no client found with id 0"}

Only launch the app for the first time every time, After the normal

—
You are receiving this because you are subscribed to this thread.
R

[2020-05-31 14:13] seth-shi commented on #118
this my code.
[code]

[2020-06-01 13:12] Rapsssito commented on #113
Should be fixed in 3.1.0! If the problem still persist, feel free to reopen this issue.

[2020-06-01 13:12] #113 closed

[2020-06-05 05:46] rimzici opened #119 "Attempt to invoke virtual method 'void java.net.DatagramSocket.setReuseAddress(boolean)' on a null object reference com.tradle.react.UdpSocketClient.bind"
Seeing numerous crashes in the release build.

**VERSION**

 "react": "16.9.0",
 "react-native": "0.61.5",
"react-native-udp": "^3.0.0",

<details>
 <summary>Full crash log</summary>

[code]
</details>

**OS**
Reported in Android 7, 8, 9 and 10.

**SAMPLE USAGE**

Sample of how the plugin is used:

[code]

**NOTE: `close` is called on any existing connection before new one is opened.**

As underst

[2020-06-05 13:20] akshay20jha commented on #50
I am facing a similar issue unable to get data from multicast url unable to get data from example.local its really getting difficult for me to resolve the issue

[2020-06-08 08:55] Fr33maan commented on #116
I had a deep look on how it's working and base64 is the best way to pass data through the bridge

[2020-06-08 08:55] #116 closed

[2020-06-15 00:19] #110 closed

[2020-06-15 00:19] #98 closed

[2020-06-15 00:19] #109 closed

[2020-06-15 00:19] #85 closed

[2020-06-15 00:19] #90 closed

[2020-06-15 00:19] #66 closed

[2020-06-15 00:19] #73 closed

[2020-06-17 08:37] baharb opened #120 "Packet response in Android 7.0"
Hi
I have a problem in Android 7.0 in Tab7304f. The packet response got after about 20 seconds. But in another tablet and android 5, packet response got after 60 ms.

[2020-06-19 15:02] baharb commented on #120
My problem resolved by this: #56

[2020-06-19 15:03] #120 closed

[2020-06-20 08:43] baharb commented on #109
Hi @Rapsssito
I tried to use one socket for my project. But it doesn't work at all.
If I used one socket, and bind it to different ports every time, the socket can't bind to other ports.
If I used one socket and one port, can't send the packet.
And could you pls tell me how can I use one socket for multiple packets in this case?
Any help would be appreciated

[2020-06-20 17:36] baharb commented on #91
Hey guys @miketall , @bpourani
Did you find any solution for this issue?

[2020-06-20 19:31] Rapsssito commented on #109
@baharb, I don't know your use case. You should open a question on stack overflow about UDP socket usage on your personal case.

[2020-06-20 20:13] gibo77 commented on #109
My program works well as long as you have to close it. Close it before you open another one and it should work fine.

[2020-06-20 20:18] gibo77 commented on #109
Hi,
I think we have the same use case.
I use React Native to fire a UDP client to multiple UDP servers. The UDP servers reply at the same time, while the original client receives all of them. I was able to capture all of the messages from different UDP servers. I read a blog from Google Employees that you can capture a decent size 40,000 messages in one second.
You are in the right track. I saw yo

[2020-06-20 21:00] reybarcelo950 commented on #68
Please, annny news on this issue?
![image](https://user-images.githubusercontent.com/26386298/85211467-7d896f00-b317-11ea-8f03-0b6219c14fb2.png)

[2020-06-20 21:00] reybarcelo950 commented on #68
Only iOS

[2020-06-21 10:03] baharb commented on #109
Hi @gibo77 ,
tnx for reply,
I have multiple client and one server. (Actually a device that receives UDP messages.)
If I open a socket and close it after receive message or after a timeout: In this case if I send multiple packets, after a time and after 3 sockets, the app is crashes.
If I open a socket and don't close it in sending packts, the app just send 2 packets and after that , can't bind mor

[2020-06-23 14:41] hoangduy0610 opened #121 "Can't reconnect after close()"
Why when I call .close().I can't reconnect.rebind or send message? Is there any solutions for my problem? thank you.

[2020-06-23 14:42] hoangduy0610 commented on #121
sorry because my English isn't good :((

[2020-06-28 16:54] rishav95 opened #122 "setMulticastInterface is not a function"
https://nodejs.org/api/dgram.html#dgram_example_ipv4_outgoing_multicast_interface

is this not available through this library?
i can see it in the socket class inside dgram.d.ts though...

[2020-07-01 06:21] baharb commented on #119
@rimzici Hi,
I have this problem too
Did you find any solution?

[2020-07-01 06:27] rimzici commented on #119
If you would like, you can use [this fork](https://github.com/telldus/react-native-udp) for now.

[2020-07-01 07:17] baharb commented on #119
tnx @rimzici
I'm using RN 0.57
Is this fork compatible with 0.57?

[2020-07-03 10:17] Fr33maan commented on #118
I can confirm without being able to reproduce it in a consitent way. @Rapsssito could you tell me if it's something you experienced ?
I've seen it in android, currently writing end 2 end tests for production build which made me able to spot it.

[2020-07-03 10:25] Fr33maan commented on #122
This lib is an interface to android and ios native UDP socket even if it advertise for being an implementation of dgram.

[2020-07-03 10:25] Rapsssito commented on #118
@Fr33maan, I can confirm. I have merged a PR (#108) with a possible fix, but it has not been published yet.

I am still waiting @mvayngrib for setting up a NPM_TOKEN secret token for semantic release.

[2020-07-03 10:26] Fr33maan commented on #119
@rimzici does the change you made in the fork fix the issue ? If so would you consider open a PR ?

[2020-07-03 10:38] Fr33maan commented on #118
Nice, right now I'm using an ugly fix. Glad it will land on npm soon ! @mvayngrib sorry for the spam but it's necessary <3

[2020-07-03 11:05] Fr33maan commented on #121
I don't experience this issue, I tried to close and reconnect, it seems to be working on my emulator.
Are you running on ios or android ?

[2020-07-04 04:55] CCSWXD opened #123 "'GCDAsyncUdpSocket.h' file not found"
react-native-udp 2.7.0
"react-native": "0.58.6",
![image](https://user-images.githubusercontent.com/19770788/86505327-a9b3ee00-bdf5-11ea-8637-2e82cc8d4129.png)

[2020-07-08 11:14] Rapsssito commented on #119
@rimzici, could you try if you experience the same issue using the master branch? I have merged a PR (#108) with a possible fix, but it has not been published yet.

[2020-07-08 11:15] Rapsssito commented on #123
@CCSWXD, it looks like you have not installed all the pods or Xcode is not able to find them.

[2020-07-08 11:17] Rapsssito commented on #122
@rishav95, sorry about that. The TS declaration file is taken form the original dgram API. We are working on a TS declaration file with the just available API.

[2020-07-08 11:17] #122 closed

[2020-07-10 10:17] polnikale commented on #68
Any updates on this? Also struggling with it atm

[2020-07-10 10:28] polnikale commented on #68
I think I fount the cure, but it's very silly. `react-native-clock-sync` also depends on `react-native-ntp-client`
I've tried manually installing it to the project, and it works now as expected.
`yarn add react-native-ntp-client`
`npm i react-native-ntp-client`
Hope it helps anyone :)

[2020-07-12 10:10] baharb commented on #82
Hi @serayuzgur
Did you find any solution?

[2020-07-14 06:57] info-bit commented on #117
Sometimes the exception is thrown. I don't use this lib directly but trought https://github.com/artem-russkikh/react-native-ntp-client. I'll open an issue there. Now we cannot contribute to the resolution. Thanks.

[2020-07-14 13:02] gibo77 commented on #117
You can also review Nodejs UDP docs. I got my program from there. Copy and paste and edit a little. Works like a rock for me. Specially in LAN networks. 

Sent from Yahoo Mail for iPhone

On Tuesday, July 14, 2020, 2:57 AM, Info-Bit <notifications@github.com> wrote:

Sometimes the exception is thrown. I don't use this lib directly but trought https://github.com/artem-russkikh/react-native-ntp-clie

[2020-07-16 09:13] houzhanshan opened #125 "ios could not successfully broadcast"
ios could not successfully broadcast, No error

[2020-07-17 17:23] alex-ferguson-spi commented on #118
I am still having this issue where the error is saying "no client found with id 0" on the first time of opening a socket. This is what my code looks like
[code]

I am using this with React Native v.63 and react-native-udp ^3.1.0 on a physical Samsung android tablet.

[2020-07-17 17:38] alex-ferguson-spi commented on #118
I can confirm that this worked. I monkey wrenched the changes into the node module and so far after 3 tests where I fully restarted everything (metro, the tablet, reinstalling the app) I no longer have the no client found with id 0 issue anymore

[2020-07-20 08:08] #125 closed

[2020-07-27 17:59] zwhitchcox opened #127 "add expo docs"
Hi, I'm not sure if you already have [expo](https://expo.io) documented somewhere, but the development experience is superb, and that's actually [react-native's recommended way to set up the development environment now](https://reactnative.dev/docs/environment-setup). It would be great if you could make expo-specific installation instructions, because the current installation instructions don't re

[2020-07-27 19:07] mvayngrib commented on #127
@zwhitchcox afaik expo doesn't allow adding custom native modules, so u may need to eject

[2020-07-27 20:47] zwhitchcox commented on #127
You are correct, you have to "eject"...Just for me, it would've been helpful still if that were in the README though, just a suggestion. Thanks for the info!

[2020-07-27 20:47] #127 closed

[2020-07-29 18:44] zwhitchcox opened #129 "windows version"
Could you guys create a version for windows and macOS? I know that's a lot to ask, just thought I'd go ahead and throw that out there though...maybe a windows/macos dev would need to do that though. I unfortunately am neither.

[2020-08-01 17:22] Hugogsalas opened #130 "I can't receive packages on motorola devices"
I read that the devices of this brand need change the socket type to multicast socket, but i cant makead work, somone know how give support to this devices?

I tring adding this code in UdpSocketsModule.java archive

[code]

and replace DatagramSocket to MulticastSocket

[2020-08-15 00:31] #121 closed

[2020-08-15 00:31] #123 closed

[2020-08-15 00:31] #119 closed

[2020-08-15 13:08] Rapsssito commented on #118
This issue should be fixed by [v3.2.0](https://github.com/tradle/react-native-udp/tree/v3.2.0)!

[2020-08-15 13:08] #118 closed

[2020-08-22 00:59] jedashford opened #131 "dgram.createSocket is not a function error, but dgram.default works"
With the below I get an error **dgram.createSocket is not a function**
[code]
I'm forced to use **dgram.default**
[code]

I'm using **"react-native-udp": "^3.2.0"**

I can't see reference to this in the documentation. Is this new or have I just done something terrible?

[2020-08-23 20:21] Cazfri opened #132 ""No overload" on socket.send(string, number, string, function)"
## Description
`socket.send()` seems to be incorrectly overloaded when used in a React Native Typescript app. See below for details.

## Steps to reproduce
My code:
[code]

## Current behavior
My IDE (VSCode) shows an error on the code above, complaining about an overload error on the 3rd parameter:

[code]

When I try to run the code on an Android emulator, I get the error `Error: invalid port`.

[2020-08-24 15:34] Rapsssito commented on #132
@Cazfri, sorry your are having that issue. The complete `socket.send()` interface is the following:
[code]

You are missing the `offset` param. In your case, you will have to call:
[code]

I am working on a complete refresh of the declaration files and JS documentation in order to prevent this kind of issues. I hope this helps with your problem!

[2020-08-24 22:53] Cazfri commented on #132
Gotcha, thanks for the quick response. The code you suggested failed with a similar error, but adding the size parameter works for me 😃.

It seems that index.d.ts includes a [function declaration](https://github.com/tradle/react-native-udp/blob/master/index.d.ts#L53) where the parameters are option. Would that be removed in a "complete refresh of the declaration files"?

[2020-08-24 23:01] Rapsssito commented on #132
@Cazfri, you are right, sorry, I messed up the `port` with `length` parameters. Glad it worked!

**The "refresh" will include a complete reconstruction of the declaration file (`index.d.ts`) taking the JS as base**, so everything will match up with the JS interface. This repository has been running on almost zero-maintenance. I was recently given maintainer permissions and I'm trying to give it a

[2020-08-24 23:01] #132 closed

[2020-08-24 23:29] Cazfri commented on #132
Great, glad to hear, I'm excited to see what comes next. Again, thanks for the quick response. I'm glad to see someone is maintaining and paying attention to this library.

[2020-08-30 10:28] alloygoh opened #134 "TypeError: null is not an object (evaluating 'Sockets.createSocket') when creating socket"
## Description
A clear and concise description of what the bug is.

When following the example given, a TypeError is thrown. Looking at the error shown on the AVD, the error seems to be coming from `UdpSocket.js` line 53. The error shown is `null is not an object`. It seems that NativeModules.UdpSockets is undefined.

## Steps to reproduce
Steps to reproduce the behavior:
1. import the library
2.

[2020-08-30 15:15] Rapsssito commented on #129
We do not have an active Windows or macOS maintainer. PRs are welcomed! I will keep this issue marked as "work-in-progress" in the mean time.

[2020-08-30 15:17] Rapsssito commented on #130
@Hugogsalas, react-native-udp already uses MulticastSocket under the hood. Can you test your code on other device to test if the issue is reproducible there?

[2020-08-30 15:23] Rapsssito commented on #134
@alloygoh, it looks like an error on the React Native linking. Shut everything down and check this solutions:
* Reinstall `react-native-udp`
* Reset metro's cache: `yarn start --reset-cache`
* Android: `cd android; ./gradlew clean; cd ..`
* iOS: `cd ios; pod install; cd ..`

If it does not work, try removing and reinstalling your node-modules folder.

[2020-08-30 20:13] Hugogsalas commented on #130
Hi @Rapsssito, yes I tested my app in a Motrola Z3 Play and Motrola G5, but I couldnt received packages, i test my app in a Redmi Note 7 and IPhone SE 2th generathion  and all works great.

[2020-08-30 20:16] Rapsssito commented on #130
@Hugogsalas, I don't own any Motorola devices to test with. Have you tested the [example app](https://github.com/tradle/react-native-udp/tree/master/examples/udpsockets) with those devices?

[2020-09-06 12:57] Shing-Ho opened #136 "TypeError: dgram.createSocket is not a function"
## Description
TypeError: dgram.createSocket is not a function. (In 'dgram.createSocket('udp4')', 'dgram.createSocket' is undefined)

## Steps to reproduce
Steps to reproduce the behavior:
1. Install latest react-native-udp and react-native-ssdp
2. Also, react-native version is latest
3. run metro bundler and open app
4. got this error in console

Or code:
[code]

## Relevant information
|

[2020-09-06 13:15] Rapsssito commented on #136
@Shing-Ho, make sure to install all pods, run `cd ios; pod install; cd ..`.

[2020-09-06 13:17] Shing-Ho commented on #136
@Rapsssito Thank you for quick update. I can surely tell you I did `pod install`.

[2020-09-06 13:20] Rapsssito commented on #136
@Shing-Ho, it looks like a linking error. Make sure everything is imported correctly. Does #134 reproduce your error?

[2020-09-06 13:21] Shing-Ho commented on #136
Ofc, I tried to reinstall react-native-udp several times

[2020-09-06 13:23] Rapsssito commented on #136
@Shing-Ho, could you provide your `package.json`?

Also, make sure you are calling `react-native-udp` as shown in the [documentation](https://github.com/tradle/react-native-udp#usage).

[2020-09-06 13:24] Shing-Ho commented on #136
[code]

Also, I am not using react-native-udp directly. I am using react-native-ssdp and it is using react-native-udp

[2020-09-06 13:26] Rapsssito commented on #136
@Shing-Ho, `react-native-ssdp` uses an old version of `react-native-udp`. You must add a `react-native-udp` version lower than 3.0.0 to your project.

[2020-09-06 13:27] Shing-Ho commented on #136
Hmm, That sounds right.

[2020-09-06 13:29] Rapsssito commented on #136
@Shing-Ho, I am working on a backwards-compatibility update, I might release it today. I will update you as soon as it is released.

[2020-09-06 13:30] Shing-Ho commented on #136
Thank you!~

[2020-09-06 13:30] #136 closed

[2020-09-06 15:00] #131 closed

[2020-09-15 11:02] namitonefc commented on #136
We are still facing this issue with **react-native-upd 4.0.2**.

Its happening with https://github.com/artem-russkikh/react-native-ntp-client.

`TypeError: dgram.createSocket is not a function. (In 'dgram.createSocket("udp4")', 'dgram.createSocket' is undefined)`

This is located in ntp-client.js:39:21

[code]

Will appreciate any help on this. This issue has become a blocker for us. Thanks.

[2020-09-15 16:39] Shing-Ho commented on #113
@Rapsssito It's still happening for me.

Ld /Users/warrior/Library/Developer/Xcode/DerivedData/Tellicare-gotmajjjgvkdmqbevqxztsrwwqsk/Build/Products/Debug-iphoneos/tellicare.app/tellicare normal arm64 (in target 'Tellicare' from project 'Tellicare')
    cd /Volumes/DATA/Work/Mobile/ReactNative/Tellicare/ios
    /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/

[2020-09-15 18:41] Rapsssito commented on #113
@Shing-Ho make sure to clean your build folder and check if you use GCDAsyncSocket in any other library.

[2020-09-15 18:43] Shing-Ho commented on #113
@Rapsssito I already tried to remove derivered folder and clean build folder and not sure how can I check GCDAsyncSocket

[2020-09-15 18:46] Rapsssito commented on #113
@Shing-Ho, take a look at [this issue](https://github.com/Rapsssito/react-native-tcp-socket/issues/61#issuecomment-653881488) from `react-native-tcp-socket`, it might be related to your problem.

[2020-09-15 18:55] Shing-Ho commented on #113
@Rapsssito There was not `CocoaAsyncSocket` but there was `GCDAsyncSocket` so I removed it and it worked.
You are really awesome. @Rapsssito
Thank you!!!
Following you from now~

[2020-09-15 19:00] Rapsssito commented on #113
@Shing-Ho, glad it is fixed!

[2020-09-18 08:37] Rapsssito commented on #136
@namitonefc, **if it still doesn't work, try using react-native-udp@2.6.1**. You may also post a PR fixing react-native-udp import in react-native-ntp-client.

[2020-10-08 00:35] #117 closed

[2020-10-14 08:15] thibmaek opened #139 "Does react-native-udp need changes for new iOS 14 Local Network Privacy?"
With iOS 14 Apple introduced the new [Local Network Privacy](https://developer.apple.com/videos/play/wwdc2020/10110/) feature which prompts users first that an application wants to interface with devices on the local network.

For now, we are not seeing any prompt with react-native-udp although we're interfacing with the local network by performing device discovery, sending a datagram to the broad

[2020-10-14 08:17] thibmaek commented on #139
Also see [this issue thread](https://github.com/robbiehanson/CocoaAsyncSocket/issues/726) on the CocoaAsyncSocket repository which react-native-udp uses under the hood.

[2020-10-14 12:59] Rapsssito commented on #139
@thibmaek, thanks for the feedback! I don't know if this might be a CocoaAsyncSocket issue or react-native-udp must also update the iOS code. Sadly, I cannot test any iOS 14 device at the moment.

CocoaAsyncSocket is written in Objective-C and it is starting to show multiple deprecation warnings when compiling. I might have to look for another library for the long run. This problem might be fixed

[2020-10-14 18:59] bitcrumb commented on #139
Hi, I'll just leave this here, as this contains extremely useful information by an Apple employee concerning the new "Local Network Privacy" behavior:
https://developer.apple.com/forums/thread/663858

[2020-10-15 00:45] #134 closed

[2020-10-15 00:45] #130 closed

[2020-10-16 09:55] vinhelm opened #140 "doesn't work on iPhone"
I tried to send and receive a packet on iPhone but it doesn't work. The same code work on android. Could someone help me what is the reason?

tested: iPhone 11 version: 13.5.1
[code]

[2020-10-16 12:53] Rapsssito commented on #140
@vinhelm, it looks like you are multicasting to `"69.69.69.255"`, but your code might have a typo`"69.69.69.255 "` (notice the extra space).

[2020-10-19 11:14] vinhelm commented on #140
@Rapsssito Yes, right, I had extra space, but this was done while uploading the source code. These lines of code helped me

    socket.on ('listening', function (msg, rinfo) {
      if (Platform.OS === "ios")
        socket.setBroadcast (true);
    })

[2020-10-19 11:15] #140 closed

[2020-11-25 16:06] hubciorz commented on #119
@Rapsssito This fix does not work. The problem is still occurring on 4.0.3

[2020-11-25 16:18] Fr33maan commented on #119
@hubciorz can you give more information about your env

[2020-11-25 21:10] hubciorz opened #143 "Crash: Task android.os.AsyncTask rejected from java.util.concurrent.ThreadPoolExecutor"
## Description
App crashes after going to background, closing socket, going to foreground and open socket again (Android)

## Error
[code]

## Stack traces
[code]

## Steps to reproduce
Steps to reproduce the behavior:
1. Open a socket, setBroadcast(true), addMembership("239.255.255.250")
2. Go to background and close socket (by detecting AppState change)
3. Go to foreground and open socket again

[2020-11-25 21:20] hubciorz opened #144 "Crash: java.lang.RuntimeException: MulticastLock under-locked react-native-udp"
## Description
App sometimes crashes after going to background (Android)

## Error
[code]

## Stack traces
[code]

## Steps to reproduce
Hard to say. It happens very rarely and it seems that you need to go to background at the right moment.

## Expected behavior
No crash, perhaps.

## Relevant information
|             |     |
| ----------- | --- |
| react-native | 0.62.1   |
| react-native-udp  |

[2020-11-25 21:36] hubciorz commented on #118
@Rapsssito Unfortunately, it's not :( It happens from time to time and directly just before these ones happen: #119 and #143

[2020-11-26 18:36] Rapsssito commented on #144
@hubciorz, thanks for your feedback! I don't know what is causing the error, but I am working on switching all multi-thread code to the Java standard API. It might fix your issue. I will create a PR which will close this issue when merged so you are notified.

[2020-11-26 18:38] Rapsssito commented on #143
I will close this issue since it is likely related to #144. The same update might fix both issues. If you continue experiencing this problems after the fix, feel free to reopen the issue.

[2020-11-26 18:38] #143 closed

[2020-11-27 10:08] hubciorz commented on #144
@Rapsssito Good to hear that! Good luck and thank you.

[2020-12-01 11:40] hubciorz commented on #119
@Fr33maan Problem still occurs on 4.0.4. Try/catch fix by @rimzici works.

[2020-12-01 11:53] hubciorz commented on #144
@Rapsssito So far so good. No crashes. Tested by about 1000 users. I will let you know if there is any. Many thanks!

[2020-12-02 11:01] Rapsssito commented on #119
@hubciorz, could you create a new issue with the error trace, the code causing the error and the reference to the solution proposed by @rimzici?

[2020-12-03 12:13] hubciorz commented on #144
@Rapsssito It seems that crashes happen less frequently, but if they do, stack trace is quite different:

[code]

[code]

[2020-12-03 12:16] Rapsssito commented on #144
@hubciorz could you provide me with an example code so I can reproduce the issue?

[2020-12-03 12:32] hubciorz opened #147 "Crash: Attempt to invoke virtual method 'void java.net.DatagramSocket.setReuseAddress(boolean)' on a null object reference"
## Description
App crashes if creating socket object is not successful (object equals to null). This issue is basically a copy of #119 as @Rapsssito asked to create a new one.

## Error
[code]

## Stack traces
[code]

## Steps to reproduce
Probably, you need to create and close sockets on and on. It is really hard to reproduce quickly.

## Current behavior
App crashes on some devices with multiple

[2020-12-03 12:40] hubciorz commented on #144
@Rapsssito This is just a standard udp listening code, as I pasted in #143 (btw, this one has been fixed). It's hard to reproduce the bug. A hint - going to background/foreground may be the key.

[2020-12-03 21:42] hubciorz commented on #144
@Rapsssito I think it is likely to happen when someone loses wifi connection for a while. Please take a look a these comments:
https://github.com/andriydruk/RxDNSSD/issues/59#issuecomment-457435808
https://github.com/andriydruk/RxDNSSD/issues/59#issuecomment-458074961

[2020-12-04 10:21] Rapsssito commented on #144
@hubciorz thanks! However, I will take care of #147 first since crashes happen more frequently. I will come back to this one once that issue is fixed.

[2020-12-05 18:34] Rapsssito commented on #147
@hubciorz, could you check if the issue persist on the branch named `fix-147`?
[code]

[2020-12-05 19:19] hubciorz commented on #147
@Rapsssito Sure. We are going to release an update to our app on Monday, so we will need then a couple of days to see if there are any crash reports. Thanks!

[2020-12-14 13:42] Incrementing commented on #147
I had this crash last night on a Samsung Galaxy S8+. Now using branch fix-147, I'll also keep an eye out for this occurring again and post an update 👍

[2020-12-14 17:11] hubciorz commented on #147
@Rapsssito
We did not notice the original error described on the first comment but now we have a different error located in the same place (so the fix introduced a regression):

[code]

We still can see "variants" of the same kind of error (I mentioned about them later on my first comment):

[code]

I know that try/catch does not solve the roots of the issue but at least it protects the app from c

[2020-12-15 19:17] Rapsssito commented on #147
@hubciorz feel free to add the try/catch fix using any package patcher (such as `patch-package`). However, that won't fix the real issue and won't fix `NullPointerException` if you want to use the socket.

[2020-12-15 19:18] Rapsssito commented on #147
@hubciorz, I am working on a new fix.

[2020-12-15 20:15] Rapsssito commented on #147
@hubciorz I have commited new changes to the branch, could check if it works that way? It the issue persist I might just create a null check and throw an exception.

[2020-12-21 10:36] hubciorz commented on #147
@Rapsssito We do not plan to release any app update before Christmas or New Year's Eve so it has to wait until the first week of January.

[2020-12-23 14:41] rodneyrehm opened #152 "TypeScript: EventEmitter methods not inherited by UdpSocket"
## Description

The produced TypeScript is not working as it should, i.e. EventEmitter methods (e.g. `.on()`) are not properly inherited.

## Current behavior

[code]

checking https://github.com/tradle/react-native-udp/blob/master/lib/types/UdpSocket.d.ts#L262 locally I get:
[code]

That error persists after `npm install --save-dev @types/node` and the mentioned file being readable on disk.

## E

[2020-12-23 16:50] Rapsssito commented on #152
@rodneyrehm, thanks for the feedback! What TS version are you using?

[2020-12-23 19:32] rodneyrehm commented on #152
Hey @Rapsssito :)

I can also share my tsconfig (stripped of obviously irrelevant parts):

[code]

[2020-12-23 21:59] Rapsssito commented on #152
@rodneyrehm, thanks for the info! This is certainly a bug. I am working on it.

[2020-12-24 09:43] Rapsssito commented on #152
@rodneyrehm, could you test this declaration file?

<details>
    <summary>UdpSocket.d.ts</summary>

[code]
</details>

[2020-12-24 13:02] rodneyrehm commented on #152
@Rapsssito I can confirm that works 🎉

while we're on the topic, have you thought about converting the `src/*.js` files to *.ts, to not have to maintain types separately?

You might also want to look at [Function Overloads](https://www.typescriptlang.org/docs/handbook/functions.html#overloads) to convert

[code]

to something along the lines of

[code]

[2020-12-24 13:20] Rapsssito commented on #152
@rodneyrehm, glad it works! I will release a new version ASAP with a fix.

The thing about the `.js` files is that I use the JSDoc to generate the declaration files dynamically on release. This way I just have to maintain the JavaScript code while the TypeScript is generated automatically (and also enjoy static type checking). This has benefits such as the larger developer base for JS and also bei

[2020-12-24 14:05] #152 closed

[2021-01-13 14:34] hubciorz commented on #147
@Rapsssito I hope you had a nice Christmas!

We released an app update a couple of days ago and it seems to be much better. Just one crash in the new implementation so far:

## Error
[code]

## Stack traces
[code]

## Occurred on
|             |     |
| ----------- | --- |
| Device | OS   |
| Nexus 7  | Android 6.0.1   |

---

Tested by about 2000 users. I will keep you updated if I have more cras

[2021-01-13 15:30] Rapsssito commented on #147
@hubciorz, **glad to hear that!** I have been reading about the issue and it looks like it might be non-fixable as it has to do with the kernel context switching. Others have experience the same type of issue using other kind of libraries: [stackoverflow thread](https://stackoverflow.com/questions/24021609/how-to-handle-java-util-concurrent-timeoutexception-android-os-binderproxy-fin).

If the iss

[2021-01-13 22:08] hubciorz commented on #147
@Rapsssito Thank you for your hard work. It seems that #144 has also been fixed.

Let give the fix a couple of days more. We currently have about 18 000 active users so so far about ~15% of them installed and run the app. As I said, I will inform you about any crashes.

Thanks!

[2021-01-18 14:09] ruanblima opened #154 "How to send an image?"
I am developing an app that I need to send the images via udp socket, but I am not able to send the image, does anyone have any suggestions how it could be sent?

[2021-01-18 20:03] Rapsssito commented on #154
@ruanblima, take a look at any NodeJS example using `dgram`. It will probably be easy to adapt to this library.

[2021-01-18 20:24] ruanblima commented on #154
thanks for the tip, i will look here.

[2021-01-19 23:00] #147 closed

[2021-01-19 23:02] Rapsssito commented on #144
Fixed by #148

[2021-01-19 23:02] #144 closed

[2021-01-20 08:05] hubciorz commented on #147
@Rapsssito Please re-open :( Unfortunately, the problem is still there (same for #144). I am not sure if the issues occurs less often or if it is a placebo effect, but I noticed a couple of crashes last weekend.

[2021-01-20 21:01] Rapsssito commented on #147
@hubciorz, this issue might be too long for people experiencing this same problem. If you are receiving the same new crash report, could you please open a new issue with the updated information?

[2021-02-10 11:47] ollolollollooloo commented on #134
still happening...

[2021-02-11 09:18] Rapsssito commented on #134
@ollolollollooloo, does the [example code](https://github.com/tradle/react-native-udp/tree/master/examples/udpsockets) work for you?

[2021-02-12 20:21] Alkaige commented on #134
@Rapsssito I've got the same error when creating a new project using expo, with adding the example code in `componentDidMount` function of my App.

react-native-udp 4.1.2, expo sdk 40.0.0.

Thanks for helping !

[2021-02-14 20:17] Rapsssito commented on #134
@Alkaige, you might have to "eject" your expo project in order to use this native custom module.

[2021-02-17 10:14] labteam opened #155 "Peer address can be randomly returned as hostname or IP depending on DNS availability"
## Description
In my application, I use the IP address to identify a peer who replied to me. And in 99% of my customers once I received a message it comes with IP address and for 1% it comes with hostname like ambivision.broadband which is not proper in our case and there is no way to get the IP address instead of a hostname (I could ask DNS for the IP using another lib).
That's a piece of code th

[2021-02-21 09:52] Rapsssito commented on #155
@labteam I don't understand your problem. Could you provide an example of the expected output and the one you get?

[2021-03-01 00:41] #154 closed

[2021-03-16 18:48] skoky opened #156 "Getting TCP Conn 0x2821b1810 Failed : error 0:61 [61] on iOS"
## Description
I have used the code from README in my app. It works fine on Android, but once deployed on iPhone, I am getting "TCP Conn 0x2821b1810 Failed : error 0:61 [61]" error.

## Steps to reproduce
Steps to reproduce the behavior:
1. use example from README.md
2. deploy to iPhone
3. see console for errors

Or code:
[code]

## Current behavior
UDP message is not sent

## Expected behavior
UD

[2021-03-16 19:29] skoky commented on #156
Also getting this in in log

socket-5 failed to bind [Error: Error in bind() function]
Error: Error in bind() function

[2021-04-01 10:13] info-bit opened #159 "Detox 18 and react-native 0.64.0 compatibility"
## Description
When running `gradlew assembleDebug assembleAndroidTest` with `detox` and `react-native@0.64.0` installed, the building process crashes due to a `minSdkVersion` too low.

In particular, the lowest required minSdkVersion should be `18` or `21`.

## Current behavior
The command `gradlew assembleDebug assembleAndroidTest` crashes.

## Expected behavior
The command `gradlew assembleDebu

[2021-04-04 17:47] ollolollollooloo commented on #134
@Rapsssito doesnt

[2021-04-06 16:17] Rapsssito commented on #156
@skoky, could you use the following code to provide an error trace:
[code]

[2021-04-08 01:01] #155 closed

[2021-04-10 16:14] skoky commented on #156
II tried the code but I don't see any error now

[2021-04-12 12:08] Rapsssito commented on #156
@skoky, the problem might not be related to this module since it looks like an TCP error.

[2021-04-14 14:13] #156 closed

[2021-04-15 06:52] conkyliu opened #160 "Send array, empty when printing"
Does it not support array data?

[2021-04-18 13:05] baharb opened #161 "React-native-udp library much slower than native android"
UDP performance is much critical for my application as it is a UI for real-time controller.
But the UDP response time performance has made me roll back to develop android and IOS application separately.
Basically, after all changes I could have done in using this UDP library of react-native,
sending and receiving a packet will take in average 200 msec (from 80 msec to 550 msec) comparing to around

[2021-04-19 15:04] Rapsssito commented on #161
@baharb, that makes sense since React Native uses a "bridge" to communicate with the native libraries. With the addition of "turbo-modules" this response time might be able to decrease.

[2021-04-19 15:30] baharb commented on #81
This problem exists in my application too.
I'm using this library in a real-time application, and I have an interval that send and receive packet every 1000 msec.
If packets can't receive, the application stop sending packets.
and after a few minutes the app crashes and I see this error in log tab:
java.util.concurrent.RejectedExecutionException: Task android.os.AsyncTask$3@1b53ea0d rejected from

[2021-04-19 15:37] baharb opened #162 "react-native-udp stop sending packets"
I'm using this library in a real-time application, and I have an interval that send and receive packet every 1000 msec.
If packets can't receive, the application stop sending packets.
and after a few minutes the app crashes and I see this error in log tab:
java.util.concurrent.RejectedExecutionException: Task android.os.AsyncTask$3@1b53ea0d rejected from java.util.concurrent.ThreadPoolExecutor@718

[2021-04-20 09:24] baharb opened #163 "Does the library implement queue for sockets?"
I have a real time application that uses react native udp. my application send packets every 1000 msec. What is the best way of using this library for my purpose?
Does the library implement queue for sockets? And I can use one socket for all packets (if it's possible) ?
Or I've to create a socket for every packet and close it in the end of receive response?

[2021-04-20 09:39] nguyenvanquan7826 opened #164 "UDP only received first message on ios 14"
## Description
Hi, I use this lib, but when run on ios 14, udp socket only received first message. I must restart app to listen again. Please help fix it.

[2021-04-20 12:20] gibo77 commented on #164
Did you close right away? Do a Promise and return wait before you close so you can get all the messages. Remember UDP is an asynchronous operation.

[2021-04-21 09:24] nguyenvanquan7826 commented on #164
No, I don't close socket until close app. I want listen many UDP message.

[2021-04-29 17:56] Rapsssito commented on #163
@baharb, you should create one socket and send a package each time with the **same socket**. You could use `setInterval()` for this purpose.

[2021-05-01 13:10] baharb opened #166 "Can't get message in last version of react-native-udp"
Hi
I was using Version 2.3.1 of react-native-udp, and my app could send and receive packets.
But now I've upgrated my react native and I'm using last version of react-native-udp, and my app just receive empty message.
Is there any thing changed in library?
I've checked everything in my application and I don't know how can I fix this.
Any help appreciated.

[2021-05-05 07:57] baharb commented on #163
@Rapsssito , tnx for reply.
I had implemented this, but there is a problem.
If I create a socket, and bind that, I can't bind that socket any more, for other packets. (Error: Socket is already bound )
If I bind one time, when the socket was created, the app stop sending packets.

[2021-05-07 21:40] Rapsssito commented on #163
@baharb, binding is only valid for one port. Try to rework your app so your packets can be sent to the same port so you can reuse the same socket.

[2021-05-07 21:45] #161 closed

[2021-05-15 00:57] #159 closed

[2021-05-23 13:52] nguyenvanquan7826 commented on #164
No, this bug is still on.

[2021-05-28 07:46] alexweininger commented on #134
+1 Happening to me as well.

[2021-05-28 08:25] ollolollollooloo commented on #134
check this out
https://www.youtube.com/watch?v=EfbRKaPt2S4

[2021-05-29 01:46] #162 closed

[2021-05-29 01:46] #160 closed

[2021-06-15 00:52] #166 closed

[2021-06-18 18:43] nishmeht7 commented on #82
Hi @shynst @serayuzgur - did you find a solution?

[2021-06-18 19:40] nishmeht7 opened #178 "How to get setBroadcast to work?"
Hey, I'm trying to get setBroadcast to work, where I'm broadcasting from my RN app but I'm unable to get it working.

I'm able to send a message to a specific address, but as soon as I use setBroadcast, like this:

[code]

and my send message looks like this

[code]

I see some issues that mention this doesn't seem to work on Android, I've been trying to get it to work on iOS and Android both, but

[2021-06-18 20:48] shynst commented on #82
@nishmeht7: I did fix it 2 years ago (works very well in production code):

It seems we must not call `setBroadcast()` after the receiving thread was started, since this will result in a deadlock. Therefore I removed automatic start of receive on bind and introduced a new method `startReveiving()`.

See details in my commit above.

[2021-06-22 00:46] #163 closed

[2021-06-22 14:50] lesreaper opened #179 "react-native-udp: setMulticastTTL() is not implemented"
## Description
Installed [react-native-ssdp](https://github.com/netbeast/react-native-ssdp)
Because it's a little outdated with react-native, installed the peer dependencies separate:
[code]

This is what gets called in the `react-native-ssdp` client:
[code]

On the simulator, it will ignore the error (it will still show the error) and get the proper network packets for iOS. However, on an actual

[2021-06-23 04:13] nishmeht7 commented on #82
@shynst Thank you so much, you're a life saver!

[2021-06-27 14:18] baharb opened #180 "Sync databases between two phones"
Hi
Is it possible to sync databases by this library? I mean send database file from one phone to another .

[2021-07-05 07:54] baharb opened #181 "How to transfer file over udp"
Hi
How to transfer a file between devices? Is it possible in react-native-udp?

[2021-07-08 00:48] #164 closed

[2021-07-08 18:35] Aditya23456 opened #182 "Issue with sending udp message to broadcast address"
Hi all,

I have a weird issue in triggering callback after sending UDP message to broadcast address on my network. I have the following code:
[code]

After I execute I get this output:

[code]

But this line never gets executed :  console.log("SEND  WITH ERROR: ",err)
I digged deep to see things execute until
[code]

in udpsocket.js

but when I have remoteHost as : 10.1.0.255 the callback executes

[2021-07-09 14:07] Aditya23456 commented on #182
Solved this issue by adding this line  `socket.setBroadcast(true);` before
```     socket.send('Hello', undefined, undefined, remotePort, remoteHost, function(err) {```

[2021-07-09 14:07] #182 closed

[2021-07-18 23:23] austinbaccus commented on #90
I'm still getting this error.  Nothing mentioned so far has worked.
This isn't for iOS React Native though, I'm using React Native to make a UWP app. Maybe that's the issue?

[2021-07-18 23:43] austinbaccus opened #183 ""TypeError: Cannot read property 'createSocket' of undefined" for Windows UWP app"
## Description
I'm making a Windows UWP app with React Native and react-native-udp. I still seem to be getting an old TypeError issue.

I followed the steps outlined in the [Get started build a desktop app with React Native for Windows](https://docs.microsoft.com/en-us/windows/dev-environment/javascript/react-native-for-windows) doc. Everything at that point worked fine.

I installed `react-native

[2021-07-19 00:15] austinbaccus commented on #129
This would be awesome. Currently working on a React Native app for the Windows Store that needs UDP support

[2021-08-01 00:58] #178 closed

[2021-08-08 00:51] #180 closed

[2021-08-08 00:51] #179 closed

[2021-08-08 11:47] baharb opened #187 "Send UDP packet larger than 32kb"
Hi
How to send udp packets larger than 32kb ?

[2021-08-22 00:49] #181 closed

[2021-08-24 17:44] nphau commented on #113
Here is fine
https://github.com/Rapsssito/react-native-tcp-socket/issues/61#issuecomment-653881488

[2021-08-29 00:52] #183 closed

[2021-08-29 09:06] Rapsssito commented on #187
@baharb, UDP has some theoretical limits. You should send multiple smaller packets instead of one and handle the order yourself, or switch to TCP.

[2021-08-29 09:06] #187 closed

[2021-09-01 20:16] fnando opened #190 "Latest cocoapods is stricter about podspec info"
I'm using react-native-udp with Cocoapods 1.11.0 and was getting an error like this:

[code]

Applying the following changes fixed the problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2021-09-08 14:39] #190 closed

[2021-12-22 15:09] haveneersrobin commented on #147
We see a similar issue: `NullPointerException: Attempt to invoke virtual method 'void java.net.DatagramSocket.send(java.net.DatagramPacket)' on a null object referencez` with version `4.1.3`

cc @Rapsssito : do I open a new issue for this?

[2021-12-25 11:34] Rapsssito commented on #147
@haveneersrobin, yes, please. Open a new issue.

[2022-01-03 10:57] haveneersrobin opened #196 "[android] `RuntimeException` when app gets paused and returns to foreground"
## Description
We see the following errors in our Sentry logging:
[code]

This error has occured for multiple users with different devices (all Android). The error always occurs after the activity was paused (e.g. app put to background) and the user returns to the application.

I can not share the exact code but I believe the error occurs if the user suspends the app before a response was received

[2022-01-04 02:29] gibo77 commented on #196
How long was the App waiting for a response before the user exited the App?

[2022-01-04 08:40] haveneersrobin commented on #196
Not lang, the Sentry logs for the starting of the UDP broadcast and the
[code]
event, have the same timestamp... Which makes me wonder: is it possible the app is crashing?

[2022-01-12 07:52] eliaslecomte commented on #196
I also had a look at this and created this pr: https://github.com/tradle/react-native-udp/pull/197.

Given that it's a nullpointer exception it looks like either:
* A rogue AsyncTask, which is deprecated
* The close function has been called but there are still ongoing send packets

I've added both a safeguard and replaced the AsyncTask with a better alternative.

[2022-01-29 16:58] Flam3rboy commented on #129
Any updates?

[2022-02-22 22:52] Rapsssito commented on #196
Fixed by #197.

[2022-02-22 22:52] #196 closed

[2022-03-01 16:19] MicheleLucini-infobit opened #199 "Plugin with id 'maven' not found"
## Description
Maven is deprecated in gradle 7.0 and updating to recent react-native versions (example 0.67.3) i get this error message:
[code]

## Relevant information
|             |     |
| ----------- | --- |
| OS |  Android  |
| react-native | 0.67.3 |
| react-native-udp  | 4.1.3 |

Is suggested to switch to maven-publish.

Similar issue:
https://github.com/expo/expo/issues/12774

Gradle doc

[2022-03-08 06:04] idabaicai commented on #134
use react-native@0.63.2 works for me

[2022-03-12 12:51] anagharamane opened #203 "Getting error while executing the code"
## Description
Getting error while executing the code

## Steps to reproduce
Steps to reproduce the behavior:
Just ran the command -  npx react-native run-android

**Screenshots**
![Error](https://user-images.githubusercontent.com/32288428/158018639-b78caee2-7ba3-4ca7-87ae-7afb7b38c497.PNG)

[2022-03-12 17:42] gev commented on #199
+1

[2022-03-24 19:09] Rapsssito commented on #203
Should be fixed by #205, feel free to reopen this issue if the problem persists.

[2022-03-24 19:09] #203 closed

[2022-04-10 20:01] NunoNogueira99 opened #206 "Error createSocket undefined"
Good night
I was trying to use this library in react native with expo but when I run it I get the following error

![WhatsApp Image 2022-04-10 at 20 08 09](https://user-images.githubusercontent.com/58145881/162637406-83010d92-7460-43f7-af95-c15f746f7dec.jpeg)

I'm running the example code

Could you help me to solve this situation since the error is inside a library file

[2022-04-13 17:15] AuthorProxy opened #209 "Cannot assign to read only property 'exports' of object '#<Object>'"
## Description
Trying to start application at expo web environment gives me this error, the similar like here https://github.com/react-native-device-info/react-native-device-info/pull/1024

## Steps to reproduce
Steps to reproduce the behavior:
1. expo init
2. expo eject
3. install react-native-udp lib
4. yarn web

## Expected behavior
exports work on web environment

[2022-04-13 17:47] AuthorProxy commented on #209
webpack\babel cannot resolve it, because of mixing exports, and even `"sourceType": "unambiguous"` in babel config didn't help

[2022-04-13 18:23] AuthorProxy commented on #209
after removing common js in a fork, App is working until I get to place where socket should be created, and I got an error like this https://github.com/tradle/react-native-udp/issues/75

[2022-04-21 14:10] BILLXZY1215 opened #210 "[iOS] Error when rebinding sockets & listening on message"
## Description

Hi, I'm trying to rebind two used sockets, it works fine in android, but not in iOS.

## Steps to reproduce

[code]

## Current behavior (console log when rebinding)

This is how it behaves in iOS:

<img width="793" alt="Screen Shot 2022-04-21 at 10 04 24 PM" src="https://user-images.githubusercontent.com/61944458/164476395-553708bd-5c21-43fd-aaa8-9ac29ba1cb22.png">

## Expected be

[2022-05-22 03:24] dougcooper commented on #206
still an issue

[2022-05-29 00:17] #210 closed

[2022-05-29 00:17] #209 closed

[2022-07-04 09:56] buiducnhat commented on #206
Sill an issue

[2022-07-05 08:24] buiducnhat commented on #206
Hi guys, after some days, I found a temporary solution to fix this problem for me.
I just run
[code]
although I use react-native version 0.64 (>0.60)

[2022-08-15 00:18] #206 closed

[2022-09-09 13:41] metinkundakcioglusst opened #221 "Expo"
How can i use it with expo app?

[2022-09-17 05:04] piyush2greedy opened #222 "Not Working in IOS 16.0"
After updating my phone to ios 16.0. Not able to get local devices in the network.
There are no devices coming after the ios 16.0 update.

In previous versions, it was working fine.

This is breaking production. Can someone please look into it?

@mvayngrib @fnando @aprock @Rapsssito @eliaslecomte
Please help.

[2022-10-03 10:37] Azaz0723 commented on #113
I

I have also removed `GCDAsyncSocket` but its duplicate architecture error goes from 144 to 65 duplicate symbols for architecture x86_64. kindly help if anybody can

[2022-10-10 21:23] evan1715 commented on #222
sadly, it's Apple being Apple.
from what i've read, in iOS 16, they've "enforced" (their fancy word for 'fixed a bug') something they've written back in iOS 14.5. it requires their 'multicast entitlement.' you must request the permission from Apple. we've submitted our request today and i am hoping that this will fix the issue. it's possible that this package or other things must be done still, bu

[2022-10-22 00:26] #221 closed

[2022-10-26 09:42] hubciorz commented on #222
@evan1715 I am not sure. The source of the problem is somewhere else I think. We do have the multicast entitlement and UDP stops working after a certain amount of time. Killing the app does not help. Rebooting the phone helps. I have no idea what's wrong.

Did you receive the entitlement and it helped?

[2022-11-03 20:20] hubciorz commented on #222
@evan1715 Any news? We did not really get any response from Apple. One day the entitlement was just available to be enabled in developer.apple.com.

[2022-11-13 21:28] evan1715 commented on #222
@hubciorz Got the entitlement. Same way you got it, without an acknowledgement that they did it. I'm not seeing any major issues with UDP so far.

On occasion, it will stop working or the bind function will throw an error, crashing it only on iOS (even though it's wrapped in try-catch) after a socket creation fails. When it does stop working (after sitting in the app with the screen on for at leas

[2022-11-23 16:00] evan1715 opened #223 "Bind is crashing"
When bind throws an error with socket.bind(), the app will crash. The error is received but even though it is handled in the JS, the package still crashes an app.

It can be replicated by giving it a bad port to bind to.

 LOG  socket-0 binding, address: badport port: 0
 LOG  socket-0 failed to bind {"message": "Unable to resolve host \"badport\": No address associated with hostname"}
 LOG  create

[2022-11-26 03:34] bartoszboruta commented on #222
Any updates?

[2022-11-29 13:52] evan1715 commented on #223
@Rapsssito
@mvayngrib
any ideas or suggestions?

[2022-11-30 08:16] Alessio92 commented on #222
Same issue here, our customers are reporting this behaviour..
Is there any workaround?

[2022-11-30 21:17] evan1715 commented on #223
For anyone who needs this fixed and the maintainers don't seem to be active anymore:

Issue is located in [UdpSocket.js](https://github.com/tradle/react-native-udp/blob/master/src/UdpSocket.js) at the bind function, line 106.

By changing
`return self.emit('error', err)`
to
`return;`
the emitter does not seem to create the overall crash anymore.

the [patch-package](https://www.npmjs.com/package/p